<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="/stylesheets/bkendMember.css" />
        <script
            src="https://kit.fontawesome.com/5b6a99e511.js"
            crossorigin="anonymous"
        ></script>
    </head>
    <body>
        <!-- ------------------------- heading section ------------------------- -->
        <div id="headingSection">
            <div>
                <img id="logo" src="/img/大專LOGOtest.png" alt="" />
            </div>
            <div id="headingRightSec">
                <div id="notification">
                    <i class="fa fa-bell-o" aria-hidden="true">系統公告：</i>
                    <marquee
                        >📣 🎉 🍾️
                        熱烈歡迎以下六位同仁加入Marian團隊：黃李豪、黃靖雯、凃家愷、張簡玉湞、廖昱榕、洪宇涓
                        ～～我們將舉辦員工訓練 &
                        迎新茶會，請各位於下述時間攜帶簡章至五樓會議室集合唷！～～2021年9月13日～～下午1:30～～🥳
                        👏 🥂
                    </marquee>
                </div>
                
                <div class="dividingLine"></div>
            </div>
        </div>
        <!-- ------------------------- sidebar section ------------------------- -->
        <div id="sidebar">
            <ul>
                <li>
                    <button>產品</button>
                </li>
                <li>
                    <button>會員</button>
                </li>
                <li>
                    <button>訂單</button>
                </li>
                <li>
                    <button>NEWS</button>
                </li>
                <li>
                    <button>
                        登出
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                    </button>
                </li>
            </ul>
        </div>
        <!-- ------------------------- content section ------------------------- -->
        
    </body>
</html>
