<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="/stylesheets/bkendMain.css" />
        <script
            src="https://kit.fontawesome.com/5b6a99e511.js"
            crossorigin="anonymous"
        ></script>
    </head>
    <body>
        <!-- ------------------------- heading section ------------------------- -->
        <div id="headingSection">
            <div>
                <img id="logo" src="/img/大專LOGOtest.png" alt="" />
            </div>
            <div id="headingRightSec">
                <div id="notification">
                    <i class="fa fa-bell-o" aria-hidden="true">系統公告：</i>
                    <marquee></marquee>
                        📣 🎉 🍾️
                        熱烈歡迎以下六位同仁加入Marian團隊：黃李豪、黃靖雯、凃家愷、張簡玉湞、廖昱榕、洪宇涓
                        ～～我們將舉辦員工訓練 &
                        迎新茶會，請各位於下述時間攜帶簡章至五樓會議室集合唷！～～2021年9月13日～～下午1:30～～🥳
                        👏 🥂
                    </marquee>
                </div>
                <form action="">
                    <div class="searchInput">
                        <span>分類 |</span>
                        <select name="sortProduct" id="sortProduct">
                            <option value="">請選擇</option>
                            <optgroup label="種類">
                                <option value="sortProductSS">SS</option>
                                <option value="sortProductD">D</option>
                                <option value="sortProductACC">ACC</option>
                            </optgroup>
                            <optgroup label="價格">
                                <option value="sortProductHigh">
                                    價格高&#8594;低
                                </option>
                                <option value="sortProductLow">
                                    價格低&#8594;高
                                </option>
                            </optgroup>
                            <optgroup label="庫存量">
                                <option value="sortProductStockFull">
                                    庫存多&#8594;少
                                </option>
                                <option value="sortProductStockLow">
                                    庫存少&#8594;多
                                </option>
                            </optgroup>
                        </select>
                        <!-- https://www.w3schools.com/howto/howto_custom_select.asp -->
                    </div>
                    <div class="searchInput">
                        <span>產品型號 |</span>
                        <input type="text" />
                    </div>
                    <button type="submit" class="searchBtn">
                        <i class="fa fa-search" aria-hidden="true"></i> 搜尋項目
                    </button>
                    <button type="reset" class="searchBtn">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                        清除輸入
                    </button>
                    <button type="reset" class="searchBtn">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        上傳新品
                    </button>
                </form>
                <div class="dividingLine"></div>
            </div>
        </div>
        <!-- ------------------------- sidebar section ------------------------- -->
        <div id="sidebar">
            <ul>
                <li>
                    <button>產品</button>
                </li>
                <li>
                    <button>會員</button>
                </li>
                <li>
                    <button>訂單</button>
                </li>
                <li>
                    <button>NEWS</button>
                </li>
                <li>
                    <button>
                        登出
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                    </button>
                </li>
            </ul>
        </div>
        <!-- ------------------------- content section ------------------------- -->
<<<<<<< HEAD
        <div id="contentSection">
            <!-- //<%- include('./contentData.ejs'); %> -->
        </div>
=======
<<<<<<< HEAD
=======
        
>>>>>>> 330781861a74799f0b08822471c25c3463eef91f
>>>>>>> 3230709510f59aa281970039d44111f439d4ee75
    </body>
</html>
