<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <script
            src="https://kit.fontawesome.com/5b6a99e511.js"
            crossorigin="anonymous"
        ></script>
        <link rel="stylesheet" href="/stylesheets/contentData.css" />
    </head>

    <body>
        <table id="contentData">
            <tr>
                <th>編輯/刪除</th>
                <th>＃Id</th>
                <th>產品照</th>
                <th>種類</th>
                <th>產品型號</th>
                <th>產品名稱</th>
                <th>價格</th>
                <th>尺寸</th>
                <th>庫存</th>
                <th>產品描述</th>
            </tr>
            <tr onClick="toggleRow(this)">
                <td>
                    <button class="editDeleteBtn">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button>
                    <button class="editDeleteBtn">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                </td>
                <td>3244</td>
                <td>
                    <div class="productImg">
                        <img src="/img/test.webp" alt="test img" />
                    </div>
                </td>
                <td>ACC</td>
                <td>
                    ACC-1234
                    <div class="divider"></div>
                </td>

                <td>女款塑身兩件式泳裝</td>

                <td>1980 元</td>
                <td>S 號</td>
                <td>205 件</td>
                <td>
                    Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever since the 1500s, when an unknown
                    printer took a galley of type and scrambled it to make a
                    type specimen book. It has survived not only five centuries,
                    but also the leap into electronic typesetting, remaining
                    essentially unchanged.
                </td>
                <td class="showContent hiderow">
                    Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever since the 1500s, when an unknown
                    printer took a galley of type and scrambled it to make a
                    type specimen book. It has survived not only five centuries,
                    but also the leap into electronic typesetting, remaining
                    essentially unchanged. It was popularised in the 1960s with
                    the release of Letraset sheets containing Lorem Ipsum
                    passages, and more recently with desktop publishing software
                    like Aldus PageMaker including versions of Lorem Ipsum.
                </td>
            </tr>
            <tr onClick="toggleRow(this)">
                <td>
                    <button class="editDeleteBtn">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button>
                    <button class="editDeleteBtn">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                </td>
                <td>3245</td>
                <td>
                    <div class="productImg">
                        <img src="/img/test.webp" alt="test img" />
                    </div>
                </td>
                <td>ACC</td>
                <td>ACC-1234</td>

                <td>女款塑身兩件式泳裝</td>

                <td>1980 元</td>
                <td>M 號</td>
                <td>89 件</td>
                <td>
                    Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever since the 1500s, when an unknown
                    printer took a galley of type and scrambled it to make a
                    type specimen book. It has survived not only five centuries,
                    but also the leap into electronic typesetting, remaining
                    essentially unchanged.
                </td>
                <td class="showContent hideRow">
                    Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever since the 1500s, when an unknown
                    printer took a galley of type and scrambled it to make a
                    type specimen book. It has survived not only five centuries,
                    but also the leap into electronic typesetting, remaining
                    essentially unchanged. It was popularised in the 1960s with
                    the release of Letraset sheets containing Lorem Ipsum
                    passages, and more recently with desktop publishing software
                    like Aldus PageMaker including versions of Lorem Ipsum.
                </td>
            </tr>
            <tr onClick="toggleRow(this)">
                <td>
                    <button class="editDeleteBtn">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button>
                    <button class="editDeleteBtn">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                </td>
                <td>3246</td>
                <td>
                    <div class="productImg">
                        <img src="/img/test.webp" alt="test img" />
                    </div>
                </td>
                <td>ACC</td>
                <td>ACC-1234</td>

                <td>女款塑身兩件式泳裝</td>

                <td>1980 元</td>
                <td>L 號</td>
                <td>156 件</td>
                <td>
                    Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever since the 1500s, when an unknown
                    printer took a galley of type and scrambled it to make a
                    type specimen book. It has survived not only five centuries,
                    but also the leap into electronic typesetting, remaining
                    essentially unchanged.
                </td>
                <td class="showContent hideRow">
                    Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever since the 1500s, when an unknown
                    printer took a galley of type and scrambled it to make a
                    type specimen book. It has survived not only five centuries,
                    but also the leap into electronic typesetting, remaining
                    essentially unchanged. It was popularised in the 1960s with
                    the release of Letraset sheets containing Lorem Ipsum
                    passages, and more recently with desktop publishing software
                    like Aldus PageMaker including versions of Lorem Ipsum.
                </td>
            </tr>
            <tr onClick="toggleRow(this)">
                <td>
                    <button class="editDeleteBtn">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button>
                    <button class="editDeleteBtn">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                </td>
                <td>26</td>
                <td>
                    <div class="productImg">
                        <img src="/img/test2.jpeg" alt="test img" />
                    </div>
                </td>
                <td>SS</td>
                <td>SS-508</td>

                <td>初階9'充氣式旅行立式划槳板</td>

                <td>12500 元</td>
                <td>F 號</td>
                <td>27 件</td>
                <td>
                    一款輕量、穩定且易於操作的充氣式立式划槳板，適合體重60
                    kg以下的划槳手在巡航或是衝小浪時使用。
                </td>
                <td class="showContent hideRow">
                    一款輕量、穩定且易於操作的充氣式立式划槳板，適合體重60
                    kg以下的划槳手在巡航或是衝小浪時使用。
                </td>
            </tr>
        </table>
        <script src="/js/jquery.min.js"></script>
        <script src="/js/contentData.js"></script>
    </body>
</html>
