<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/backend_main.css" />
    <title>Marian 後台首頁</title>
</head>
<body>
    
    <div class="mainPage">
        <div class="navBar">
            <ul style="list-style-type: none;" class="navItem">
                <li><a style="text-decoration: none;" href="#">管理者區</a></li>
                <li><a style="text-decoration: none;" href="#">會員專區</a></li>
                <li><a style="text-decoration: none;" href="#">訂單專區</a></li>
                <li><a style="text-decoration: none;" href="#">其他</a></li>
            </ul>
        </div>
        <div class="mainConta"> 
            <h2>為什麼我們要選 PHP 當作第一個程式語言來學呢？</h2>
            <br>
            <p>我真心推薦，因為這個語言學習門檻最低，非常適合新手入門，
                不會痛苦的卡在深奧的隱藏架構上，也不用需要先理解複雜的除錯工具。
                只要了解基本的邏輯，就能自己蓋出一個網站，真的非常有成就感。
                全世界上使用率最高的網頁開發語言就是PHP，
                超過兩億個網站都是PHP為基底，甚至連臉書也是，
                學會了就不怕沒案子沒網站可以賺錢，想開發什麼應用都做得到。
                簡單來說，PHP 就是學習飛快。
            </p>
            <br>
            <p>我真心推薦，因為這個語言學習門檻最低，非常適合新手入門，
                不會痛苦的卡在深奧的隱藏架構上，也不用需要先理解複雜的除錯工具。
                只要了解基本的邏輯，就能自己蓋出一個網站，真的非常有成就感。
                全世界上使用率最高的網頁開發語言就是PHP，
                超過兩億個網站都是PHP為基底，甚至連臉書也是，
                學會了就不怕沒案子沒網站可以賺錢，想開發什麼應用都做得到。
                簡單來說，PHP 就是學習飛快。
            </p>
            <br>
            <p>我真心推薦，因為這個語言學習門檻最低，非常適合新手入門，
                不會痛苦的卡在深奧的隱藏架構上，也不用需要先理解複雜的除錯工具。
                只要了解基本的邏輯，就能自己蓋出一個網站，真的非常有成就感。
                全世界上使用率最高的網頁開發語言就是PHP，
                超過兩億個網站都是PHP為基底，甚至連臉書也是，
                學會了就不怕沒案子沒網站可以賺錢，想開發什麼應用都做得到。
                簡單來說，PHP 就是學習飛快。
            </p>
            <br>
            <h2>為什麼我們要選 PHP 當作第一個程式語言來學呢？</h2>
            <br>
            <p>我真心推薦，因為這個語言學習門檻最低，非常適合新手入門，
                不會痛苦的卡在深奧的隱藏架構上，也不用需要先理解複雜的除錯工具。
                只要了解基本的邏輯，就能自己蓋出一個網站，真的非常有成就感。
                全世界上使用率最高的網頁開發語言就是PHP，
                超過兩億個網站都是PHP為基底，甚至連臉書也是，
                學會了就不怕沒案子沒網站可以賺錢，想開發什麼應用都做得到。
                簡單來說，PHP 就是學習飛快。
            </p>

        </div>
    </div>
    <?php
        
    ?>

</body>
</html>