<div id="main">
    <div id="logo">
        <img src="/img/大專LOGOtest.png" alt="marian logo" />
    </div>
    <div id="sidebar">
        <ul>
            <li>
                <button id="goToProduct">產品</button>
            </li>
            <li>
                <button id="goToMember">會員</button>
            </li>
            <li>
                <button id="goToOrder">訂單</button>
            </li>
            <li>
                <button id="goToNews">NEWS</button>
            </li>
            <li>
                <a href=\backend/logout>
                    登出
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
