<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Marian後台</title>
        <!-- fontawesome -->
        <link
            rel="stylesheet"
            href="/stylesheets/font-awesome-4.7.0/css/font-awesome.css"
        />
        <!-- ours -->
        <link rel="stylesheet" href="/stylesheets/main.css" />
        <link rel="stylesheet" href="/stylesheets/news.css" />
    </head>

    <body>
        <!-- ------------------------- left section ------------------------- -->
        <div><%- include('./main.ejs'); %></div>

        <!-- ------------------------- right section ------------------------- -->
        <div id="container">
            <!-- heading section -->
            <div id="headingSec">
                <div id="notification"><%- include('./marquee.ejs'); %></div>
                <!-- 組長這裏面的 input & button 給你寫
                    開始創作..... -->
                <form action="">
                    <div class="searchInput">
                        <span>文章編號&nbsp;|</span>
                        <input type="text" />
                    </div>
                    <button type="submit" id="searchBtn">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        搜尋文章
                    </button>
                    <button type="reset" id="clearBtn">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                        清除輸入
                    </button>
                </form>
                <div class="dividingLine"></div>
            </div>

            <!-- content section -->
            <div id="contentSec">
                <!-- 開始創作..... 記得調整top-->
                <table id="contentData">
                    <tr>
                        <th>#Id</th>
                        <th>發布時間</th>
                        <th>標題</th>
                    </tr>
                    <tr onClick="toggleRow(this)">
                        <td>34</td>
                        <td>2021/09/14 08:24</td>
                        <td>this is news title</td>
                        <td class="showContent hideRow">
                            <div class="dividingLine"></div>
                            <div id="newsContainer">
                                <!-- ------------------標籤們-------------------- -->

                                <div class="tab">
                                    <button
                                        class="tabLinks"
                                        onclick="switchTab(event, 'titleTab')"
                                        id="defaultOpen"
                                    >
                                        標題
                                    </button>
                                    <button
                                        class="tabLinks"
                                        onclick="switchTab(event, 'articleTab1')"
                                    >
                                        段落一
                                    </button>
                                    <button
                                        class="tabLinks"
                                        onclick="switchTab(event, 'articleTab2')"
                                    >
                                        段落二
                                    </button>
                                    <button
                                        class="tabLinks"
                                        onclick="switchTab(event, 'articleTab3')"
                                    >
                                        段落三
                                    </button>
                                    <button
                                        class="tabLinks"
                                        onclick="switchTab(event, 'articleTab4')"
                                    >
                                        段落四
                                    </button>
                                    <button
                                        class="tabLinks"
                                        onclick="switchTab(event, 'articleTab5')"
                                    >
                                        段落五
                                    </button>
                                </div>
                                <!-- ------------------內容顯示-------------------- -->
                                <div id="titleTab" class="tabContent">
                                    <form action="">
                                        <label for="newsTitle" class="decoLine"
                                            >文章標題&nbsp;｜
                                            <input
                                                class="newsInput"
                                                type="text"
                                                id="newsTitle"
                                            />
                                        </label>
                                        <div>
                                            <div>封面照片&nbsp;｜</div>
                                            <div class="uploadImg">
                                                <img
                                                    src="../img/add.svg"
                                                    alt=""
                                                />
                                                <!-- 下面div到時候放圖片...可能改成img tag -->
                                                <div></div>
                                            </div>
                                        </div>

                                        <button id="confirmBtn">
                                            <i
                                                class="fa fa-check-circle-o"
                                                aria-hidden="true"
                                            ></i>
                                            確認上傳
                                        </button>
                                    </form>
                                </div>

                                <div id="articleTab1" class="tabContent">
                                    <form action="">
                                        <label
                                            for="newsSubtitle1"
                                            class="decoLine"
                                            >段落小標題&nbsp;｜
                                            <input
                                                class="newsInput"
                                                type="text"
                                                id="newsSubtitle1"
                                            /> </label
                                        ><br />
                                        <label
                                            for="newsArticle1"
                                            class="decoLine"
                                            >段落內文&nbsp;｜
                                            <textarea
                                                name=""
                                                id="newsArticle1"
                                            ></textarea></label
                                        ><br />
                                        <label
                                            for="newsFigcaption1"
                                            class="decoLine"
                                            >照片說明&nbsp;｜
                                            <input
                                                class="newsInput"
                                                type="text"
                                                id="newsFigcaption1"
                                            />
                                        </label>
                                        <div>
                                            <div>段落照片&nbsp;｜</div>
                                            <div class="uploadImg">
                                                <img
                                                    src="../img/add.svg"
                                                    alt=""
                                                />
                                                <!-- 下面div到時候放圖片...可能改成img tag -->
                                                <div></div>
                                            </div>
                                        </div>

                                        <button id="confirmBtn">
                                            <i
                                                class="fa fa-check-circle-o"
                                                aria-hidden="true"
                                            ></i>
                                            確認上傳
                                        </button>
                                    </form>
                                </div>

                                <div id="articleTab2" class="tabContent">
                                    <form action="">
                                        <label
                                            for="newsSubtitle2"
                                            class="decoLine"
                                            >段落小標題&nbsp;｜
                                            <input
                                                class="newsInput"
                                                type="text"
                                                id="newsSubtitle2"
                                            /> </label
                                        ><br />
                                        <label
                                            for="newsArticle2"
                                            class="decoLine"
                                            >段落內文&nbsp;｜
                                            <textarea
                                                name=""
                                                id="newsArticle2"
                                            ></textarea></label
                                        ><br />
                                        <label
                                            for="newsFigcaption2"
                                            class="decoLine"
                                            >照片說明&nbsp;｜
                                            <input
                                                class="newsInput"
                                                type="text"
                                                id="newsFigcaption2"
                                            />
                                        </label>
                                        <div>
                                            <div>段落照片&nbsp;｜</div>
                                            <div class="uploadImg">
                                                <img
                                                    src="../img/add.svg"
                                                    alt=""
                                                />
                                                <div></div>
                                            </div>
                                        </div>

                                        <button id="confirmBtn">
                                            <i
                                                class="fa fa-check-circle-o"
                                                aria-hidden="true"
                                            ></i>
                                            確認上傳
                                        </button>
                                    </form>
                                </div>
                                <div id="articleTab3" class="tabContent">
                                    <form action="">
                                        <label
                                            for="newsSubtitle3"
                                            class="decoLine"
                                            >段落小標題&nbsp;｜
                                            <input
                                                class="newsInput"
                                                type="text"
                                                id="newsSubtitle3"
                                            /> </label
                                        ><br />
                                        <label
                                            for="newsArticle3"
                                            class="decoLine"
                                            >段落內文&nbsp;｜
                                            <textarea
                                                name=""
                                                id="newsArticle3"
                                            ></textarea></label
                                        ><br />
                                        <label
                                            for="newsFigcaption3"
                                            class="decoLine"
                                            >照片說明&nbsp;｜
                                            <input
                                                class="newsInput"
                                                type="text"
                                                id="newsFigcaption3"
                                            />
                                        </label>
                                        <div>
                                            <div>段落照片&nbsp;｜</div>
                                            <div class="uploadImg">
                                                <img
                                                    src="../img/add.svg"
                                                    alt=""
                                                />
                                                <!-- 下面div到時候放圖片...可能改成img tag -->
                                                <div></div>
                                            </div>
                                        </div>

                                        <button id="confirmBtn">
                                            <i
                                                class="fa fa-check-circle-o"
                                                aria-hidden="true"
                                            ></i>
                                            確認上傳
                                        </button>
                                    </form>
                                </div>
                                <div id="articleTab4" class="tabContent">
                                    <form action="">
                                        <label
                                            for="newsSubtitle4"
                                            class="decoLine"
                                            >段落小標題&nbsp;｜
                                            <input
                                                class="newsInput"
                                                type="text"
                                                id="newsSubtitle4"
                                            /> </label
                                        ><br />
                                        <label
                                            for="newsArticle4"
                                            class="decoLine"
                                            >段落內文&nbsp;｜
                                            <textarea
                                                name=""
                                                id="newsArticle4"
                                            ></textarea></label
                                        ><br />
                                        <label
                                            for="newsFigcaption4"
                                            class="decoLine"
                                            >照片說明&nbsp;｜
                                            <input
                                                class="newsInput"
                                                type="text"
                                                id="newsFigcaption4"
                                            />
                                        </label>
                                        <div>
                                            <div>段落照片&nbsp;｜</div>
                                            <div class="uploadImg">
                                                <img
                                                    src="../img/add.svg"
                                                    alt=""
                                                />
                                                <!-- 下面div到時候放圖片...可能改成img tag -->
                                                <div></div>
                                            </div>
                                        </div>

                                        <button id="confirmBtn">
                                            <i
                                                class="fa fa-check-circle-o"
                                                aria-hidden="true"
                                            ></i>
                                            確認上傳
                                        </button>
                                    </form>
                                </div>
                                <div id="articleTab5" class="tabContent">
                                    <form action="">
                                        <label
                                            for="newsSubtitle5"
                                            class="decoLine"
                                            >段落小標題&nbsp;｜
                                            <input
                                                class="newsInput"
                                                type="text"
                                                id="newsSubtitle5"
                                            /> </label
                                        ><br />
                                        <label
                                            for="newsArticle5"
                                            class="decoLine"
                                            >段落內文&nbsp;｜
                                            <textarea
                                                name=""
                                                id="newsArticle5"
                                            ></textarea></label
                                        ><br />
                                        <label
                                            for="newsFigcaption5"
                                            class="decoLine"
                                            >照片說明&nbsp;｜
                                            <input
                                                class="newsInput"
                                                type="text"
                                                id="newsFigcaption5"
                                            />
                                        </label>
                                        <div>
                                            <div>段落照片&nbsp;｜</div>
                                            <div class="uploadImg">
                                                <img
                                                    src="../img/add.svg"
                                                    alt=""
                                                />
                                                <!-- 下面div到時候放圖片...可能改成img tag -->
                                                <div></div>
                                            </div>
                                        </div>

                                        <button id="confirmBtn">
                                            <i
                                                class="fa fa-check-circle-o"
                                                aria-hidden="true"
                                            ></i>
                                            確認上傳
                                        </button>
                                    </form>
                                </div>
                            </div>
                            <!-- #newsContainer div end -->

                            <div class="dividingLine"></div>
                        </td>
                    </tr>
                    <tr onClick="toggleRow(this)">
                        <td>35</td>
                        <td>2021/09/02 15:40</td>
                        <td>this is news title yoyoyo</td>
                        <td class="showContent hideRow">
                            <div class="dividingLine"></div>
                            <div class="info">
                                this is news content....
                                到時候要放書籤頁面進來到時候要放書籤頁面進來到時候要放書籤頁面進來
                                到時候要放書籤頁面進來到時候要放書籤頁面進來到時候要放書籤頁面進來到時候要放書籤頁面進來到時候要放書籤頁面進來
                                到時候要放書籤頁面進來到時候要放書籤頁面進來到時候要放書籤頁面進來到時候要放書籤頁面進來到時候要放書籤頁面進來
                                到時候要放書籤頁面進來到時候要放書籤頁面進來到時候要放書籤頁面進來到時候要放書籤頁面進來到時候要放書籤頁面進來
                                到時候要放書籤頁面進來到時候要放書籤頁面進來到時候要放書籤頁面進來到時候要放書籤頁面進來到時候要放書籤頁面進來
                                到時候要放書籤頁面進來到時候要放書籤頁面進來到時候要放書籤頁面進來到時候要放書籤頁面進來到時候要放書籤頁面進來
                                到時候要放書籤頁面進來到時候要放書籤頁面進來到時候要放書籤頁面進來到時候要放書籤頁面進來到時候要放書籤頁面進來
                                到時候要放書籤頁面進來到時候要放書籤頁面進來到時候要放書籤頁面進來到時候要放書籤頁面進來到時候要放書籤頁面進來
                            </div>
                            <div class="dividingLine"></div>
                        </td>
                    </tr>
                </table>
            </div>
            <script src="/js/jquery.min.js"></script>
            <script src="/js/main.js"></script>
            <script src="/js/news.js"></script>
        </div>
    </body>
</html>
