<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Marian後台</title>
        <!-- fontawesome -->
        <link
            rel="stylesheet"
            href="/stylesheets/font-awesome-4.7.0/css/font-awesome.css"
        />
        <!-- ours -->
        <link rel="stylesheet" href="/stylesheets/main.css" />
        <link rel="stylesheet" href="/stylesheets/order.css" />
    </head>

    <body>
        <!-- ------------------------- left section ------------------------- -->
        <div><%- include('./main.ejs'); %></div>

        <!-- ------------------------- right section ------------------------- -->
        <div id="container">
            <!-- heading section -->
            <div id="headingSec">
                <div id="notification"><%- include('./marquee.ejs'); %></div>
                <!-- 組長這裏面的 input & button 給你寫
                    開始創作..... -->
                <form action="">
                    <div class="searchInput">
                        <span>訂單編號&nbsp;|</span>
                        <input id="orderId" type="text" />
                    </div>
                    <button type="button" id="searchBtn">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        搜尋訂單
                    </button>
                    <button type="reset" id="clearBtn">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                        清除輸入
                    </button>
                </form>
                <div class="dividingLine"></div>
            </div>

            <!-- content section -->
            <div id="contentSec">
                <!-- 開始創作..... 記得調整top-->
                <table id="contentData">
                    <tr>
                        <th>訂單編號</th>
                        <th>下訂時間</th>
                        <th>會員編號 - 姓名</th>
                        <th>消費總額</th>
                        <th>訂單明細</th>
                    </tr>
                </table>
            </div>
            <script src="/js/jquery.min.js"></script>
            <script src="/js/order.js"></script>
            <script src="/js/main.js"></script>
        </div>
    </body>
</html>
