<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/bkendMain.css" />
    <link rel="stylesheet" href="/stylesheets/product.css" />
    <script src="https://kit.fontawesome.com/5b6a99e511.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="left">
        <%- include('./sidebar') %>
    </div>
    <div class="right">
        <%- include('./marquee') %>
        <div class="container">
            <!-- 在此開始創作 -->
            <div class="search"></div>
            <hr>
        </div>
    </div>
</body>

</html>