<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Marian後台</title>
        <!-- fotorama -->
        
        <link
            href="/stylesheets/fotoramaMarianVersion-4.6.4/fotoramaMarianVer.css"
            rel="stylesheet"
        />
        <!-- <script src="/stylesheets/fotoramaMarianVersion-4.6.4/fotorama.js"></script> -->

        <!-- fontawesome -->
        <link
            rel="stylesheet"
            href="/stylesheets/font-awesome-4.7.0/css/font-awesome.css"
        />
        <!-- ours -->
        <link rel="stylesheet" href="/stylesheets/main.css" />
        <link rel="stylesheet" href="/stylesheets/product.css" />
    </head>
    <body>
        <!-- ------------------------- left section ------------------------- -->
        <div><%- include('./main.ejs'); %></div>

        <!-- ------------------------- right section ------------------------- -->
        <div id="container">
            <!-- heading section -->
            <div id="headingSec">
                <div id="notification"><%- include('./marquee.ejs'); %></div>
                <form action="">
                    <div class="searchInput">
                        <span>分類&nbsp;|</span>
                        <select name="sortProduct" id="sortProduct">
                            <option value="">請選擇</option>
                            <optgroup label="種類">
                                <option value="sortProductSS">SS</option>
                                <option value="sortProductD">D</option>
                                <option value="sortProductACC">ACC</option>
                            </optgroup>
                            <optgroup label="價格">
                                <option value="sortProductHigh">
                                    價格高&#8594;低
                                </option>
                                <option value="sortProductLow">
                                    價格低&#8594;高
                                </option>
                            </optgroup>
                            <optgroup label="庫存量">
                                <option value="sortProductStockFull">
                                    庫存多&#8594;少
                                </option>
                                <option value="sortProductStockLow">
                                    庫存少&#8594;多
                                </option>
                            </optgroup>
                        </select>
                        <!--想客製化select display但願望還沒實現： https://www.w3schools.com/howto/howto_custom_select.asp -->
                    </div>
                    <div class="searchInput">
                        <span>產品型號&nbsp;|</span>
                        <input type="text" />
                    </div>
                    <button type="submit" id="searchBtn">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        搜尋項目
                    </button>
                    <button type="reset" id="clearBtn">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                        清除輸入
                    </button>
                    <button type="submit" id="uploadBtn">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        上傳新品
                    </button>
                </form>
                <div class="dividingLine"></div>
            </div>
            <!-- content section -->
            <div id="contentSec">
                <table id="contentData">
                    <tr>
                        <th>編輯</th>
                        <th>＃Id</th>
                        <th>產品照</th>
                        <th>種類</th>
                        <th>產品型號</th>
                        <th>產品名稱</th>
                        <th>價格</th>
                        <th>尺寸</th>
                        <th>庫存</th>
                        <th>產品描述</th>
                    </tr>
                    <tr>
                        <td onClick="toggleRow(this.parentNode)">
                            <button class="editBtn">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </button>
                        </td>
                        <td>3245</td>
                        <td>
                            <div class="productImg">
                                <img src="/img/test.webp" alt="test img" />
                            </div>
                        </td>
                        <td>ACC</td>
                        <td>ACC-1234</td>

                        <td>女款塑身兩件式泳裝</td>

                        <td>1980 元</td>
                        <td>M 號</td>
                        <td>89 件</td>
                        <td>
                            Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and
                            scrambled it to make a type specimen book. It has
                            survived not only five centuries, but also the leap
                            into electronic typesetting, remaining essentially
                            unchanged.
                        </td>
                        <td class="showContent hideRow">
                            Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and
                            scrambled it to make a type specimen book. It has
                            survived not only five centuries, but also the leap
                            into electronic typesetting, remaining essentially
                            unchanged. It was popularised in the 1960s with the
                            release of Letraset sheets containing Lorem Ipsum
                            passages, and more recently with desktop publishing
                            software like Aldus PageMaker including versions of
                            Lorem Ipsum.
                        </td>
                    </tr>
                    <tr>
                        <td onClick="toggleRow(this.parentNode)">
                            <button class="editBtn">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </button>
                        </td>
                        <td>3246</td>
                        <td>
                            <div class="productImg">
                                <img src="/img/test.webp" alt="test img" />
                            </div>
                        </td>
                        <td>ACC</td>
                        <td>ACC-1234</td>

                        <td>女款塑身兩件式泳裝</td>

                        <td>1980 元</td>
                        <td>L 號</td>
                        <td>156 件</td>
                        <td>
                            Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and
                            scrambled it to make a type specimen book. It has
                            survived not only five centuries, but also the leap
                            into electronic typesetting, remaining essentially
                            unchanged.
                        </td>
                        <td class="showContent hideRow">
                            Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and
                            scrambled it to make a type specimen book. It has
                            survived not only five centuries, but also the leap
                            into electronic typesetting, remaining essentially
                            unchanged. It was popularised in the 1960s with the
                            release of Letraset sheets containing Lorem Ipsum
                            passages, and more recently with desktop publishing
                            software like Aldus PageMaker including versions of
                            Lorem Ipsum.
                        </td>
                    </tr>
                    <tr>
                        <td onClick="toggleRow(this.parentNode)">
                            <button class="editBtn">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </button>
                        </td>
                        <td>26</td>
                        <td>
                            <div class="productImg">
                                <img src="/img/test2.jpeg" alt="test img" />
                            </div>
                        </td>
                        <td>SS</td>
                        <td>SS-508</td>

                        <td>初階9'充氣式旅行立式划槳板</td>

                        <td>12500 元</td>
                        <td>F 號</td>
                        <td>27 件</td>
                        <td>
                            一款輕量、穩定且易於操作的充氣式立式划槳板，適合體重60
                            kg以下的划槳手在巡航或是衝小浪時使用。
                        </td>
                        <td class="showContent hideRow">
                            <div class="dividingLine"></div>
                            <div class="onOff">
                                <button>
                                    <img src="/img/close2.svg" alt="" />
                                </button>
                                <button>
                                    <img src="/img/zoom2.svg" alt="" />
                                </button>
                            </div>
                            <div class="info">
                                <div class="infoImg">
                                    <img
                                        id="imgEditBtn"
                                        src="/img/edit.svg"
                                        alt="按我修改圖片yo"
                                    />
                                    <div
                                        class="fotorama"
                                        data-nav="thumbs"
                                        data-loop="true"
                                        data-ratio="1/1"
                                        data-maxwidth="100%"
                                        data-thumbwidth="70"
                                        data-thumbheight="70"
                                        data-allowfullscreen="true"
                                        data-fit="cover"
                                        data-click="false"
                                    >
                                        <img src="../img/test.webp" />
                                        <img src="../img/test2.jpeg" />
                                        <img src="../img/test.webp" />
                                        <img src="../img/test2.jpeg" />
                                        <img src="../img/test.webp" />
                                        <img src="../img/test2.jpeg" />
                                    </div>
                                </div>
                                <div class="infoTxt">
                                    <ul>
                                        <li class="productStyleNumber">
                                            <span>產品型號 |</span> SS-508
                                        </li>
                                        <li class="productName">
                                            <span>產品名稱 |</span>
                                            初階9'充氣式旅行立式划槳板
                                        </li>
                                        <li class="productClass">
                                            <span>種類 |</span>
                                            SS
                                        </li>
                                        <li class="productPrice">
                                            <span>價格 |</span>
                                            12500 元
                                        </li>
                                        <li class="productSize">
                                            <span>尺寸 |</span>
                                            F 號
                                        </li>
                                        <li class="productInStock">
                                            <span>進貨 |</span>
                                            27 件
                                        </li>
                                        <li class="productDescription">
                                            <span>產品描述 |</span>
                                            <div>
                                                一款輕量、穩定且易於操作的充氣式立式划槳板，適合體重60kg以下的划槳手在巡航或是衝小浪時使用。
                                                一款輕量、穩定且易於操作的充氣式立式划槳板，適合體重60kg以下的划槳手在巡航或是衝小浪時使用。
                                                一款輕量、穩定且易於操作的充氣式立式划槳板，適合體重60kg以下的划槳手在巡航或是衝小浪時使用。
                                                一款輕量、穩定且易於操作的充氣式立式划槳板，適合體重60kg以下的划槳手在巡航或是衝小浪時使用。
                                                一款輕量、穩定且易於操作的充氣式立式划槳板，適合體重60kg以下的划槳手在巡航或是衝小浪時使用。
                                                一款輕量、穩定且易於操作的充氣式立式划槳板，適合體重60kg以下的划槳手在巡航或是衝小浪時使用。
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <button id="confirmBtn">
                                <i
                                    class="fa fa-check-circle-o"
                                    aria-hidden="true"
                                ></i>
                                確認上傳
                            </button>
                            <div class="dividingLine"></div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <script src="/js/jquery.min.js"></script>
        <script src="/js/product.js"></script>
        <script src="/js/main.js"></script>
        
    </body>
</html>
