<!-- ------------------------- sidebar section ------------------------- -->
<div id="sidebar">
    <ul>
        <li>
            <button>產品</button>
        </li>
        <li>
            <button id="goToMember">會員</button>
        </li>
        <li>
            <button>訂單</button>
        </li>
        <li>
            <button>NEWS</button>
        </li>
        <li>
            <button>
                登出
                <i class="fa fa-sign-out" aria-hidden="true"></i>
            </button>
        </li>
    </ul>
</div>