@import url('https://fonts.googleapis.com/css2?family=Aguafina+Script&family=Amatic+SC&family=MonteCarlo&family=Open+Sans&family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,200;1,300&display=swap');





*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1;
}
  
 *:before, *:after {
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    color: #2E2E2E;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.08em;
    background-color: #f8f9fa;
}
a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}
ul{
    list-style: none;
}
.cursor{
    z-index: 999;
    position: fixed;
    /* border: 20px solid #ffe6b7; */
    background-color:#F8F9FA ;
    width: 10px;
    height:10px;
    border-radius: 50%;
    pointer-events: none;
    box-shadow: 0 0 20px #eea620,
    0 0 60px #eea620,
    0 0 100px #eea620
    ;
    animation: color 10s infinite;
}
@keyframes color {
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360eg);
    }
    
}
/* .cursor::before{
    content: '';
    position: absolute;
    background: #95a9c9;
    width: 50px;
    height:50px;
    border-radius: 50%;
    opacity: .2;
    transform: translateX(-30%,-30%);
    border-radius: 50%;
} */
/* Header START  */
#header{
    
    position: absolute;
    width: 100%;
    top:0;
    left: 0;
    width: 100%;
    padding: 20px 8px 0px 2%;
    display: flex;
    justify-content: space-between;
    transition: .6s;
    /* transition: all 0.3s ease; */
    z-index: 10000;
    background-color:unset;
    /* background-color: rgb(209, 203, 204); */
}
/*  */
#header.hide{
    top: -120px;
}
#header.nohide{
    top: 0;
}
#header.scrollUp{
    background-color: #b4cfeb;
    /* background-color: #95a9c9; */
}
/*  */
header.sticky{
    padding: 5px 10px 5px 2%;
    background-color: #fff;
}
header.sticky >.navbar >ul>li>a{
    color:rgb(131, 40, 59);
}
/*  */
.headerLogo{
    position: relative;
    margin: 0;  
    padding: 0;
    z-index: 101;
    display: inline-flex;
    align-items:flex-end;
    padding-bottom: 1.2rem;

}
.headerLogo> span{
    font-size: 1rem;
    font-weight: 600;
    /* color: #212529; */
}
/* logo */
.logo {
    width:4rem;
    background-color: tomato;
    /* object-fit: contain; */
    /* height: auto; */
    
}
/* .navbar */
.navbar{
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    padding: 1rem;



  }

.navbar ul{
    display: flex;
    align-self: center;
    list-style: none;
    opacity: 1;
    z-index: 101;
    padding-right: 1.5rem;


}
.navbar ul li a{
    position: relative;
    display: inline-block;
    color: #2E2E2E;
    font-size: 1rem;
    list-style: none;
    text-decoration:none;
    letter-spacing: 2px;
    font-weight: bold;
    transition: .5s;
    padding-top: 5px;
    padding-right: 3rem;
    padding: 1rem;
}
    

.navbarUl li{
    padding-right: 1rem;
    list-style: none;
}
   
   
/*  */
.navbarIcon{
    align-self: flex-start;
    display: flex;
    justify-content: space-between;
}
.navbarIcon>a{
    padding-top: 5px;

}
.navbarIcon>a:not(:last-child){
    padding-right: 3rem;

}
/*  */
.navbarUl>li>a>span{
    position: absolute;
    display: block;
    background-color: #697a95;
     

}
.navbarUl li a span:nth-child(1){
    left:0;
    bottom: 0;
    width: 2px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition:transform .5s;

}
.navbarUl li a:hover span:nth-child(1){
    transform: scaleY(1);
    transform-origin: bottom;
    transition:transform .5s;

}
.navbarUl li a span:nth-child(2){
    left:0;
    bottom:0;
    width: 100%;
    height: 2px;
    transform: scaleY(0);
    transform-origin: right;
    transition:transform .5s;

}
.navbarUl li a:hover span:nth-child(2){
    transform: scaleY(1);
    transform-origin: left;
    transition:transform .5s;

}
.navbarUl li a span:nth-child(3){
    right:0;
    bottom: 0;
    width: 2px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition:transform .5s;

}
.navbarUl li a:hover span:nth-child(3){
    transform: scaleY(1);
    transform-origin: bottom;
    transition:transform .5s;

}
.navbarUl li a span:nth-child(4){
    left:0;
    top:0;
    width: 100%;
    height: 2px;
    transform: scaleY(0);
    transform-origin: right;
    transition:transform .5s;

}
.navbarUl li a:hover span:nth-child(4){
    transform: scaleY(1);
    transform-origin: left;
    transition:transform .5s;

}
/*  */
.navbar ul li a:hover{
    color: rgb(5, 5, 5);
}
.navbar ul li a img{
    width: 1.2em;
    height:1.2em;
}
/* navbar-menu */
.navAbout{
    position: relative;
}
.navAbout .navbarMenu{
    position: absolute;
    top: 3rem;
    left: 0rem;
    width: 123px;
    display: none;
}
.navProject{
    position: relative;

}
.navProject .navbarMenu{
    position: absolute;
    top: 3rem;
    left: 0rem;
    width: 146px;
    display: none;
}
.navbarMenu>li{
    border: #fff 2px solid;
    background-color: #b4cfeb;
}
.navbarMenu>li>a{
    position: absolute;
    top:0;
    left:0px;
    text-align: center;
    color: white;
   
}
@media only screen and  (max-width:1024px){
    .headerHambur{
        display: none;
    }
    .toggleContent{
        width: 55%;
    }
    .toggleContent>div{
        width: 55vw;
        justify-content: flex-start;
        }
}
@media only screen and  (max-width: 768px){
    .navbar{
        display: none;
    }
}
@media only screen and  (max-width: 414px){
    .navbar{
        display: none;
    }
}
  
/* Hamburger only show up when 768px */
.headerHambur{
    /* position: fixed; */
    z-index: 101;
    top: 1.5rem;
    right:0;
    cursor: pointer;
    display: none;
}
#toggle {
    display: none;
}
.hamburger{
    z-index: 101;
    cursor: pointer;
    display: block;
    position: relative;
}
.hamburger div {
    width: 2em;
    height:1.8px;
    border-radius: 3px;
    background-color: #25252554;
    margin: 5.5px;
    transition: all 0.3s ease-in-out;

}
.hamburger div::after{
    content: "";
    background-color: #000;
    position: absolute;
    left: 50%;

}
/* Hamburger RWD */
@media only screen and  (max-width:1024px){
    .headerHambur{
        display: unset;
    }
    .toggleContent{
        width: 55%;
    }
    .toggleContent>div{
        width: 55vw;
        justify-content: flex-start;
        }
}
@media only screen and  (max-width: 768px){
    .headerHambur{
        display: unset;
    }
    .toggleContent{
        width: 55%;
    }
    .toggleContent>div{
        width: 55vw;
        justify-content: flex-start;
        }
}
  
/* Hamburger cross animation */
#toggle:checked + .hamburger .topBun {
    transform: rotate(-45deg);
    margin-top: 25px;
}
#toggle:checked + .hamburger .bottomBun {
    opacity: 0;
    transform: rotate(45deg);
}
#toggle:checked + .hamburger .meat {
    transform: rotate(45deg);
    margin-top: -7px;
}

#toggle:checked ~ .toggleContent{
    visibility: visible;


}
#toggle:checked ~ .toggleContent>div{
    transform:scale(1);
    transition-duration: 0.75s;

}
#toggle:checked ~ .toggleContent>div>div{
    opacity: 1;
    transition: opacity 0.4s ease;

}

/* Hamburger content */
.toggleContent{
    position: fixed;
    top:0;
    right: 0;
    width: 30%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center; 
    justify-content: center;
    z-index: 100;

}
.toggleContent>div{
    background-color: #e9ecef;
    width: 30vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    transform: translateX(60%);
    transition: all .5s linear;
    }
.toggleContentL{
    text-align: left;
    opacity: 0;
    list-style: none;
    font-size: 1.5rem;
    padding: 3rem;
    color: #f8f9fa;
    color:#343a40;
    font-weight: 600;
    line-height: 3rem;
    text-decoration: none;
    transition: color 0.4s ease;

}
.toggleContentR{
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    opacity: 0;
    position: relative;
}

.toggleAddr{
    display: flex;
    margin-top: 1rem;
    margin-left: 2rem;

}
.inputMail{
    color: #fff;
    width: 250px;
    height: 44px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    outline: none;
    background-color: #ced4da;
    color: #000;
    font-size: 14px;
    letter-spacing: .05em;
    line-height: 24px;
    padding: 10px 15px;
    border-radius: 0;
}
.btnSubmit{
    display: block;
    width: 94px;
    height: 44px;
    border: 0;
    padding: 0;
    margin: 0;
    background-color: #495057;
    color: #fff;
    font-family: a-otf-midashi-go-mb31-pr6n,sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    letter-spacing: .05em;
    line-height: 44px;
    text-align: center;
    border-radius: 0;
    cursor: pointer;
    opacity: 1;
}

.toggleBtn:hover {
    opacity: 0.7;
}
/* Hamburger content RWD */
@media only screen and  (max-width: 1024px){
    .toggleContent{
        width: 40%;
    }
    .toggleContent>div{
        width: 40vw;
        justify-content: flex-start;
        padding: 5rem 0;
        }
}
@media only screen and  (max-width: 768px){
    .toggleContent{
        width: 55%;
    }
    .toggleContent>div{
        width: 55vw;
        justify-content: flex-start;
        }
}
@media only screen and  (max-width: 450px){
    .toggleContent{
        width: 80%;
    }
    .toggleContent>div{
        width: 80vw;
    }
    .toggleAddr{
        display: block;
    }
    .btnSubmit{
        width: 250px;
        height: 40px;
        font-size: 12px;
    }
}
@media only screen and  (max-width: 360px){
    .toggleAddr{
        display: block;
    }
    .btnSubmit{
        width: 250px;
        height: 40px;
        font-size: 12px;
    }

}
/*  Hamburger content RWD end */
/* Header RWD  */
@media only screen and  (max-width: 1024px){
 
}
@media only screen  and (max-width: 768px){
    #header{
        padding: 0.8rem 0.3rem 0.2rem 0.8rem ;
        margin: 0;
    }
    .headerLogo{
        justify-content:  baseline;
    }
    .headerLogo>span{
        font-size: 1.2rem;
    }
    .headerHambur{
        top: 0;
        margin-top: 3%;
       
    }
    .navbar .navbarUl{
        display: none;
      }
      /* .main_img-container{
        margin-top: -7rem;
    } */
}


@media only screen and  (max-width: 414px){
    #header{
        padding: 0.8rem 0.3rem 0.2rem 0.8rem ;
        margin: 0;
    }
    #header .navbar{
        display: none;
    }
    .logo{
        width: 2rem;
    }
    .headerHambur{
        margin-top: 3%;
        top: 0;
        right:5%;
    }
    .navbar .navbarUl{
        display: none;
      }
    .headerLogo>span{
        display: none;
    }

}
@media  only screen  and  (max-width: 320px){
    /* .main_img-container>div .main_img{
        width: unset;
    } */
    .hamburger{
        width: 100%;
 
     }
    .headerHambur{
        margin-top: 3%;
        left:0 ;
        top: 0;
        
     }
   
}
/* Header RWD end */
/* footer */
#footer{
    margin-top: 5rem;
    padding: 50px 6.5% 0px 6.5% ;
    background-color:#596677;
    /* font-family: linotype-sabon, 'Noto Serif JP', serif; */

}
#footerInner {
    /* display: flex; */
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 3rem;
}
.footerInner{
    color: whitesmoke;
    /* color: rgb(51, 48, 48); */
}
.fLine{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.fLogo{
    width: 10%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.fLogo>span{
    font-size: 1.2rem;
}
.footerLogo{
    width:5rem;
    /* height:4rem; */
    object-fit: contain;
    align-self: stretch;
   
}
.fTxt{
    width: 45%;
    justify-content: center;


}
.fTxt>span:nth-child(1){
    font-size: 1.5rem;
    line-height: 10px;
    height: 20px;
    font-family: 'Fira Sans', sans-serif;
    padding-bottom:2rem;

}
.fTxt>span:nth-child(4){
    font-size: 1.2rem;
    font-weight: 200;
    line-height: 16px;
    font-family: 'Fira Sans', sans-serif;
}
.fIcon{
    width: 45%;
    display: flex;
    align-items:center ;
    justify-content: flex-end;
    cursor: pointer;
   
}
.fIcon>a{
   padding: 20px;
   align-self: right;

   
}
.footerIcon{
    width: 2rem;
}
/*  */
.fNav{
    margin-top: 4rem;
    width: 100%;
    display: flex;
    letter-spacing: 5px;
}
.fNav>ul{
    flex:0 0 19%;
    max-width:20%;
}
.fNav>ul>li{
    margin-bottom: 14px;
    font-size: 1rem;
    letter-spacing: 2px;
}
.fNav>ul>li>ul{
   margin-top: 13px;
}
.fNav>ul>li>ul>li{
    margin-bottom: 14.5px;
    color: #b9b9b9;
    font-size:.9rem;
}
.detail{
    position: relative;
    /* white-space: nowrap; */
    /* letter-spacing: 2px; */
}
.detail>p:nth-child(2){
    position: absolute;
    /* white-space: nowrap; */
    /* letter-spacing: 2px; */
}
.detail>p:not(:first-child){
    padding-top: 2rem;
    /* line-height: 4rem;s */
}


.footerBottom {
    width: 100%;
    padding-top: 7rem;
    text-align: center;
}
.copy {
    font-family: linotype-sabon, 'Noto Serif JP', serif;
    font-size: 15px;
  
}
 
@media only screen and (max-width: 450px){
    .foo-contain{
        display: block;
    }
    .foo-contain .footer__ul {
        max-width: 100%;
        padding: 23px 0 23px 0;
        border-bottom: 1px solid #212529;


    }
    #footer{
      
        padding: 50px 6.5% 0px 6.5% ;
      
    }
    
}
@media only screen and (max-width: 320px){

     .footer__ul>li{
        margin: .8rem 0 .8rem 0;
     }
     .foo-contain .footer__ul>li a{
        font-size: 1rem;
        letter-spacing: 1px;
    }

}


