*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1;
}
   
 *:before, *:after {
    box-sizing: border-box;
}
body{
    color: #2E2E2E;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.08em;
    background-color: #f8f9fa;

}
a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

#header{
    box-shadow: rgb(0 0 0 / 13%) 0 4px 16px;
    background-color: rgba(252, 249, 249, 0.404);
    
}
/* header :end */
/* welcome */
#welcomeC{
    padding: 160px 6.5% 0px 6.5% ;
    background-position:  center;
    position: relative;

}
#welcomecInner {
    /* position: relative; */
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 7rem;

}
.wCarousel{
    width: 100%;
   
}
.wCarousel>div>img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left:0;
    /* filter: grayscale(2); */
    transition: all .3s ease;
    z-index:-1;
   
    
}
#welcome::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left:0;
    background-color: #3131313a;
    z-index: 1;
   
    
}

.welcomecCont{
    color: #f8f9fa;
    z-index: 5;
  

  
}
.welcomecCont>h2{
   text-align: center;
   font-size: 3rem;
   padding-bottom: 1rem;
   z-index: 5;
   text-shadow:1px 1px 1px   #212529;


}
.welcomecCont>p{
    text-align: center;
    font-size: .8rem;
   text-shadow:1px 1px 1px   #212529;
}

/* welcome end */
/* contact */
#contactus{
    padding: 160px 6.5% 0px 6.5% ;
    background-color: #fff;
    background-image: url(../img/a03.jpg);
    background-position: left;
    background-repeat:no-repeat ;
    position: relative;
    z-index: 1;

}
#contactus-inner {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 3rem;


} 
#contactus::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 37.1%;
    height: 100%;
    background-color: #ffffff;
    opacity: 0.6;
    z-index: 2;

}
.contactus-tit{
    font-size: 2rem;
    position: absolute;
    top:5rem;
    right: 10rem;


}
.map-inner {
    margin-top: 2rem;
    filter: grayscale(1);

}
.map-inner>iframe{
    width: 400px;
    height: 300px;

}
/* form */
.contus-form{
    width: 60%;
    text-align: left;
   margin-left: 7rem;
    display: block;
    font-size: 1rem;
    line-height: 1.42857143;
    background-color:#e3e3e4;
    background-color: #343333;
    color: #f8f9fa;
    box-shadow: 10px 10px  #9da0a3 ;
    border-radius: 15px;
    position: relative;


}
.contus-form>h3{
    font-size:1.8rem;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    padding-bottom: 2rem;
    padding-top: 1rem;
}
form {
    width: 100%;
}
/* .contus-form ::before{
   content: "";
   position: absolute;
   top: 0;
   left:0;
   width: 100px;
   height: 100px;
   border-radius: 50%;
   background-color: #ffe6b7;
} */
.form-group{
    padding-top:.8rem;
    position: relative;
    padding: 1rem;


}
.form-group-s{
    position: relative;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding: 0 1rem 1rem 1rem;
    font-size: 1.2rem;
    



}
.form-group-s>h1{
    padding: 1rem 0;
    font-size: 1.1rem;

}

.form-group>label{
    text-align: left;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 300;

}
.form-control{
    padding: .3rem;
    height: 2.5rem;
    width: 100%;
    font-size: 1.2rem;
   font-weight: 400;
   letter-spacing: .4rem;
    color: #e3e3e4;
    list-style: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: none;
    border-bottom:2px solid #e3e3e4;
    background-color: #343333;


}
.form-group>i{
    position: absolute;
    top: 35px;
    right: 0;
    text-align: center;
    vertical-align: middle;
    height: 40px;
    width: 50px;
    padding-top: 10px;
    z-index: 4;

}
.form-group>textarea{
    height: 80px;
}
input:focus {
    outline: none;
}
textarea:focus{
    outline: none;
}
textarea{
    border: 1px;
}
.contus-contain{
    display: flex;
    flex-direction: row;
}
@media only screen and  (max-width: 1024px){
    .contactus-tit{
        right:5rem;
    }
}
@media only screen  and (max-width: 812px){
    .contus-contain{
        display: block;
        position: relative;
        width: 100%;


    }
    #contactus::before{
        display: none;

    }
    .contus-form{
        width:100%;
        margin-left: unset;
        margin-top: 10rem;
    }
    .map-inner{
        position: absolute;
        top: 4rem;
        right:0;
    }
    .contus-txt{
        width: 50%;
    }
    .map-inner>iframe{
        width: 320px;
        height: 280px;
    
    }
    .contus-txt>p{
        line-height: 2rem;
    }
}
@media only screen  and (max-width: 450px){
    .contus-contain{
        display: block;
        position: relative;
        width: 100%;


    }
    #contactus::before{
        display: none;

    }
    .contus-form{
        width:100%;
        margin-left: unset;
        margin-top: 2rem;
    }
    .map-inner{
        position: unset;
    }
    .contus-contain .contus-txt{
        width: 100%;
        padding-top:0;
    }
    .map-inner>iframe{
        width: 320px;
        height: 280px;
    
    }
    .contus-txt>p{
        line-height: 2rem;
    }
    .quote-cont>h2{
        line-height: 2rem;
    }
    .form-group-s>label{
        padding:6px;
    }
    .contactus-tit{
        text-align: center;
        font-size: 1.3rem;
        font-weight: 600;
    }
    .us-loc_link .us-loc__icon{
        font-size: 1.3rem;
    }
    .us-loc_link .us-loc-ins__name{
        font-size:1rem;
    }
}
/* form  end*/
.contus-contain>h1{
    text-align: center;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.contus-lin{
    position: relative;
    display: inline-block;
    width: 310px;
    padding: 15px 0 15px 40px;
    color: #000;
    border: 3px solid #ccc;
    line-height: 1;
    transition: background-color 0.2s;
    text-align: left;
    margin-right: 3rem;
    margin-top: 50px;
    margin-bottom: 1rem;
   
}
.contus-lin::before{
    content: '';
    background: linear-gradient(to right, #4C5664 0%, #466460 50%, #A27750 100%);
    background-image: url(//cdn.shopify.com/s/files/1/0284/7109/9437/files/icon_arrow1_black_2x_4fb76695-d37f-491b-b2f0-05f6c176b6ce.png?v=1580873581);
    background-size: 6px 10px;
    width: 6px;
    height: 10px;
    position: absolute;
    top: 50%;
    right: 24px;
}

.contus-lin >small{
    display: inline-block;
    font-family: copperplate, serif;
    font-size: 10px;
    line-height: 1.8;

}
.contus-lin > h1{
    font-family: linotype-sabon, 'Noto Serif JP', serif;
    font-size: 20px;
    line-height: 1.4;
    vertical-align: center;
   
}
.contus-txt{
    padding-top:5rem;
    text-align: center;
    z-index: 3;

  

}
.contus-txt>p{
    font-size: 1.5rem;
    /* line-height: 0.5; */
    color: #555;
    margin-bottom: 31px;
    text-align: center;
}
.us-loc_link{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: inherit;
    text-decoration: none;
    padding-left: 4rem;
}
.us-loc__icon{
    display: inline-block;
    width: 20px;
    margin-right: 15px;
    font-size: 1.8rem;
    text-align: center;
}

.us-loc-map__name {
    font-size: 1.3rem;
    filter: blur(0);
    text-decoration: underline;
    letter-spacing: .2px;
}
.us-loc-ins__name{
    font-weight: 500;
    font-size: 1.1rem;
    letter-spacing: .2px;
}
/* contact rwd */
@media only screen and (max-width: 768px){
}
@media only screen and (max-width: 450px){
    .contus--contain::after{
        content: "";
        opacity: 0.3;
    }
    
}

/* contactus rwd:end */
/* quote */
#quote{
    padding: 100px 6.5% 0px 6.5% ;
   background-color: #b4cfeb59;
   /* background-image: url(../img/aw12.jpeg); */
   background-blend-mode: multiply;
    background-size: contain;


}
#quote-inner {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 5rem;

}
.quote-cont{
    color: #343333;
    

}
.quote-cont>h2{
   text-align: center;
   font-size: 1.5rem;
   padding-bottom: 1rem;
   text-shadow: 1px 1px #495057;

}
.quote-cont>p{
    text-align: center;
    font-size: .8rem;
 

}
/* quote end */

/* footer */
#footer{
    margin-top: unset!important;

}
