
#welcome{
    padding: 160px 6.5% 0px 6.5% ;
    position: relative;
    min-height: 100vh;
    max-width: 100%;
}
#welcome::before{
    content: "scroll";
    position: absolute;
    left:48% ;
    bottom:5%;
    vertical-align: bottom;
    text-align: center;
    font-size: 1rem;
    color: #fff;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding-top:45px;
    background-color: #6b8dafb7;
    
   
}
#welcome::after{
    content: "ˇ";
    position: absolute;
    left:51%;
    bottom:-10px;
    font-size: 2rem;
    color: #fff;
    animation: loopDown 2s infinite;
}
@keyframes  loopDown{
    0%{
        transform:translateY(-10px);
    }
    100%{
        transform:translateY(5px);
    }
}
#welcomeInner{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 7rem;
}
.welcomeContainer{
    color: #f8f9fa;
    z-index: 5;
}
.welcomeContainer>h2{
   text-align: center;
   font-size: 3rem;
   padding-bottom: 1rem;
   z-index: 5;
   text-shadow:1px 1px 1px   #212529;

}
.welcomeContainer>p{
    text-align: center;
    font-size: .8rem;
   text-shadow:1px 1px 1px   #212529;
}
/* carousel */
.wCarousel{
    width: 100%;
}

.wCarousel>div>img{
    position: absolute;
    width: 100%;
    height:100%;
    top: 0;
    right:0;
    transition: all .3s ease;
    z-index:-1;
}
@media only screen and (max-width: 1024px){
    #welcome{
        min-height:40vh;
    }
    #welcome::before{
        content: unset;
    }
    #welcome::after{
        content: unset;
    }
}
@media only screen and (max-width: 768px){

}
@media only screen and (max-width: 414px){
    #welcome{
        min-height: 40vh;
    }
    

}
/* Welcome End */

/* COM Concept  */
#concept {
    padding: 200px 6.5% 0px 6.5%;
    z-index: 1;
    position: relative;
}
#conceptInner {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 3rem;
}
#conceptInner::before {
    content: "";
    position: absolute;
    top: 25%;
    left: 50%;
    width: 2px;
    height: 70%;
    border-radius: 30px;
    background-color: #697a95;
    /* z-index: -1; */
}
/* #conceptInner::before {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 3rem;
} */
.conceptTxt{
    text-align: left;
    margin-bottom: 150px;
    position: relative;


}

.conceptTxt > span{
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 7rem;
    color: #697a95;
    margin-bottom: 5rem;
}
/* .conceptTxt::before {
    content: "";
    position: absolute;
    top: 70%;
    left: 2%;
    width: 500px;
    height: 30px;
    border-radius: 30px;
    background-color: #ffe6b7;
    z-index: -1;
} */
.conceptF{
    margin-top: 5rem;
    margin-bottom: 3rem;
    height: 100vh;
    /* width: 85.6%; */
    /* width: 100%; */
    /* margin: 0 0 0 auto; */
    position: relative;
    /* z-index: 5; */


}

/*  */

.conceptBg{
    position: absolute;
    top: 80%;
    left:50%;
    width: 40%;
    height: 700px;
    z-index:3;
    border-radius: 30px;
    background-color: #ffe6b7;
    background-position: center;
    transform: translate(-50%,-50%);
    }
    /*  */
.conceptImg{
    position: absolute;
    top: 50%;
    left:50%;
    width: 40%;
    height: 700px;
    border-radius: 30px;
    z-index: 4;
    background-image: url(../img/a02.jpg);
    object-fit: cover;
    background-position: center;
    /* background-color: #F4C443; */
    /* width: 550px; */
    
    transform: translate(-50%,-50%);
    

}


.conceptContent{
    position: relative;
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.conceptContent::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    width: 100px;
    height: 200px;
    width: 200px;
    background-color: #ffe6b7;

}
.conceptContent::after{
    content: "";
    position: absolute;
    top:45%;
    left: 10%;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background-color: #95a9c9;

}
.conceptContent>div{
    width: 40%;
    padding: 1rem;

    
}
.conceptContent>div>h1{
    font-size:1.8rem ;
    font-weight: 800;
    margin-bottom: 1rem;
}
.conceptContent>div>p{
    font-size:1.2rem ;
    line-height: 3rem;
}
/* COM Concept left img */
.conceptLine{
    position: absolute;
    bottom:0%;
    left:0;
    /* width: 40%; */
    /* height: 700px; */
    z-index: 5;
    /* transform: translate(0, 0%) skewX(360deg); */
    transform: translate(32%,50%);

}
.conceptLine>span{
    display: inline-block;
    font-size: 7rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #b4cfeb;
    text-shadow: #ffe6b7 3px 5px 2px;
    /* transform: translate(0,0); */
    z-index: 6;
    /* background-color: #F8F9FA; */
}
.c{
    display: inline-block;
}
.o{
    overflow: hidden;
    position: relative;
    display: inline-block;
}


/* COM Concept right txt */

.concept-right {
    width: 66.6%;
    padding: 10px 0 60px 100px; 
    position: relative;

}
.concept-title {
    color: #212529;
}
.concept-title>h1 {
    transform: translateX(-30px);
    font-size: 2rem;
    padding-bottom: 1rem;
    font-weight: 600;

}
.concept-title>span:nth-child(2) {
    display: inline-block;
    font-size: 2.5rem;
    padding-top: 2rem;
    padding-bottom: 20px;
    font-weight: 600;
    font-family: 'Fira Sans', sans-serif;
    color: #495057;
    
}
.concept-title>span:nth-child(4) {
    display: inline-block;
    font-size: 2rem;
    padding-top:1rem;
    padding-bottom: 10px;
    font-weight: 600;
    font-family: 'Fira Sans', sans-serif;
    color: #495057;
    
}
/* Concept detail  */
.box{
    padding-top: 1.2rem;
}

.box p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 20px;
    font-size: 1.3rem;

    line-height: 2;
}
/* view more */



/* .concept  rwd*/
@media only screen and (max-width: 1024px){
    #concept {
        padding: 80px 6.5% 0px 6.5%;
        z-index: 1;
    }
    .conceptImg{
        /* height: 700px; */
        width: 60%;
        
    }
    .conceptF{
        height: 80vh;


    }
    .conceptContent>div{
        width: 50%;
    }
    .conceptContent>div>p{
        line-height: 2em;
        font-size: 1rem;
    }
    .conceptBg{
        display: none;
    }

    

}
@media only screen and (max-width: 768px){
        #concept #concept-inner .right .box p {
            font-size: 14px;
            line-height: 1.8;

        }
        .conceptTxt > span{
            font-size: 5rem;
        }
        .conceptTxt::before {
            width: 350px;
        }
        .conceptImg{
            height: 80%;
            width:80%;
            background-position: right;
        }
        .conceptBg{
            display: none;
        }
        .conceptLine{
            height: unset;
            left:-5%;
        }
}
@media only screen and (max-width: 450px){
        .conceptTxt > span{
            font-size: 2rem;
        }
        .conceptTxt::before {
            height: 10px;
            width: 150px;
        }
        .conceptTxt{
            margin-bottom: unset;
        }
        .conceptContent>div{
            width: 100%;
        }
        .conceptInner{
            padding-bottom: unset;


        }
        .conceptImg{
            height: 100%;
            width: 100%;
            background-position: right;
        }
        .conceptBg{
            display: none;
        }
        .conceptLine{
            bottom: unset;
        }

}

/* concept RWD end */
/* material*/

#material {
    padding: 160px 6.5% 0px 6.5%;
    z-index: 1;
   margin-bottom: 300px;
}

#materialInner {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 3rem;

  
  
}
#materialInner::after {
    content: "";
    position: absolute;
    top:20%;
    left:50%;
    width: 5px;
    height: 70%;
    border-radius: 30px;
    background-color:#697a95;
    z-index: -1;


  
  
}
.materialTxt{
    position: relative;
    margin-bottom: 150px;
    text-align: right;
    transform: translateX(100px);

}
.materialTxt > span{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 7rem;
    color: #697a95;
}
.materialTxt::before{
    content: "";
    position: absolute;
    top:70%;
    right:2%;
    width: 500px;
    height: 30px;
    border-radius: 30px;
    background-color: #ffe6b7;
    z-index: -1;

}

/* mat_container */


.matF{
    display: flex;
    flex-direction: row;
    margin-bottom: 200px;

}
.matfLeft{
    width:55%;
    height: 65vh;
    background-position: left;
    transform: translateX(-40px);
    border-radius: 15px;
    position: relative;
    filter: brightness(1.1);

  


}
.matfLeft::before{
    content: "";
    position: absolute;
    bottom: -10%;
    left:10%;
    width:180px;
    height:200px;
    background-image:url(../img/m07.jpg) ;
    background-size: cover;
    background-position: center;
    filter: brightness(1.1);
    border-radius: 50%;
    z-index: 4;
  


}
.matfLeft>div{
    position: relative;
    width:100%;
    height: 100%;
    border-radius: 15px;
   z-index: 3;

    
}
.matfLeft>div>img{
    position: absolute;
    top:0;
    right: 0;
   width: 70%;
   height: 100%;
   object-fit: cover;
   z-index: 6;
   border-radius: 15px;
   filter: brightness(1.2);
}
.matfRight{
    width: 40%;
    position: relative;
}
.matfRight>h1{
    position: absolute;
    top: 30%;
    transform: translateX(50px);
    font-size: 3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.matfRight>p{
    position: absolute;
    transform: translateX(50px);
    top: 50%;
    font-size: 2rem;
    line-height: 3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* mat_s */
.matS{
    display: flex;
    flex-direction: row;
    margin-bottom: 150px;
}
.matsLeft{
    width:50%;
    height: 80vh;
    align-content: flex-end;
    position: relative;
}
.matsLeft>h1{
    position: absolute;
    top: 30%;
    /* transform: translateX(100px); */
    font-size: 3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.matsLeft>p{
    position: absolute;
    left: 0;
    top: 40%;
    padding: 2rem;
    font-size: 2rem;
    line-height: 3.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.matsLeft::after{
    content: '';
    position: absolute;
    top: 55%;;
    left: 20%;
    width:60%;
    height: 60%;
    background-color: #fdf2de;
    border-radius: 20px;
    z-index: -1;
}
.matsRight{
    width: 50%;
    /* position: relative; */
    background-image: url(../img/m101.jpg);
    background-blend-mode: multiply;
    background-size: cover;
    border-radius: 20px;
}
.matsRight>div{
    width: 100%;
    height: 100%;
    position: relative;
}
.matsRight>div::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .7;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
}
.matsRight>div>img{
    width: 100%;
    object-fit: cover;
    transform: translate(-20px,-5%);
    z-index: 3;
    border-radius: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
/*  */
.matT{
    display: flex;
    flex-direction: row;
    margin-bottom: 200px;
}
.mattRight{
    width: 48%;
    position: relative;
    padding: 1.2rem;

}
.mattRight>p{
    position: absolute;
    top: 50%;
    font-size: 2rem;
    line-height: 3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.mattRight>h1{
    position: absolute;
    top: 30%;
    font-size: 3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.mattLeft>div {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 15px;
}
.mattLeft>div>img {
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    height: 100%;
    object-fit: cover;
    z-index: 6;
    border-radius: 15px;
    text-align: right;
    /* filter: brightness(1.3); */
}


.mattLeft{
    width:52%;
    height: 80vh;
    border-radius: 15px;
    background-size: 200px;
}
.mattLeft::before{
    content: "";
    position: absolute;
    top: 50%;
    width:52%;
    height: 20vh;
    border-radius: 15px;
    background-color: #9cb3ca94;
    background-size: 200px;
}
.mattLeft>div{
    width:100%;
    height:100%;
    position: relative;
    border-radius: 15px;
}

/* material RWD */
@media only screen and (max-width: 1024px){
    .matF {
        width: 100%;
    }
    .matfLeft {
        height: 30vh;
        width: 50%;
        text-align: center;
    }
    .matfLeft {
        width: 50%;
    }
    .matfRight>h1{
        font-size: 2.2rem;
    }
    .matfRight>p{
        font-size: 1.8rem;
        line-height: 3rem;
    }
    /*  */
    .matsLeft{
        width:50%;
        height: 50vh;
        align-content:flex-start;
        position: relative;
    }
    .matsLeft>h1{
        font-size: 2.2rem;
    }
    .matsLeft>p{
        font-size: 1.8rem;
    }
    .matsLeft::after{
        height: 40%;
    }
    .mattLeft{
        height: 45vh;
    }
    .mattLeft::before{
        height: 10vh;
        font-size: 2.2rem;
    }
    .mattRight{
        width: 48%;
        position: relative;
    
    }
    .mattRight>p{
        top:15%;
        font-size: 1.8rem;
        line-height: 3rem;
    }
    .mattRight>h1{
        top:0;
        font-size: 2.2rem;
    
    }
} 
@media only screen and (max-width: 768px){
    .matF {
        width: 100%;
    }
    .matfLeft {
        height: 30vh;
        width: 50%;
        transform: translateX(0);
        text-align: center;
    }
    .matfLeft {
        width: 50%;
    }
    .matfRight>h1{
        font-size: 1.8rem;
    
    }
    .matfRight>p{
        font-size: 1.1rem;
        line-height: 3rem;
    }
    /*  */
    .matsLeft{
        width:50%;
        height: unset;
    }
    .matsLeft>h1{
        font-size: 1.8rem;
        top:15%;
    
    }
    .matsLeft>p{
        font-size: 1.1rem;
        line-height: 3rem;
        top:25%;
        padding: 1rem;
    
    
    }
    .matsLeft::after{
        top: 25%;;
        left: 0;
        width:70%;
        height: 35%;
    }
    .matsRight{
        height: 100%;
    }
    /*  */
    .mattRight>h1{
        font-size: 1.8rem;
    
    }
    .materialTxt > span{
        font-size: 5rem;
    }
    .materialTxt::before{
        width: 300px;
    }
    .matfLeft>div>img{
        transform: translateX(20px);
    }
    .mattRight>p{
        font-size: 1.1rem;
        line-height: 3rem;

    }


} 
@media only screen and (max-width: 450px){
    .materialTxt > span{
        font-size: 2rem;
    }
    .materialTxt::before{
        width: 150px;
        height: 10px;
    }
    .matF {
        display: block;
        margin-bottom: unset;
    }
    .materialTxt{
        margin-bottom: 30px;

    }
    .matfLeft>div>img{
        width: 100%;
        transform: translateX(0);
    }
    .matfLeft::before{
        content: unset;
        height: 100%;
    }
    .matsRight{
       
        width: 100%;
    }
    .matfLeft {
        width: 100%;
        height: 65vh;
    }
    .matfRight{
        width: 100%;
        margin-bottom: 50px;
    }
    .matfRight>h1 {
        position: unset;
        padding: 30px 0px;
        transform: translateX(0);
    }
    .matfRight>p {
        position: unset;
        padding: 10px 0px;
        transform: translateX(0);

    }
    /*  */
    .matsLeft{
        width: 100%;
    }
    .matS{
        flex-wrap: wrap-reverse;
        margin-bottom: 50px;
    }
    .matsLeft>h1{
        padding: 10px;
        position: unset;
    }
    .matsLeft::after{
        position: unset;
    }
    .matsLeft>p{
        position: unset;
    }
    /*  */
    .matT{
        display: block;
    }
    .mattLeft{
        width: 100%;
    }
    .mattRight{
        width: 100%;
        margin-top: 20px;

    }
    .mattRight>h1 {
        position: unset;
        padding: 30px 0px;
    }
    .mattRight>p {
        position: unset;
        padding: 10px 0px;
    }
    /*  */
    #materialInner::after{
        width: 1px;
        z-index: -1;


    }
    /*  */
    .btnContainer>.btnCenter{
        left:0;
    }
    #materialInner{
        padding-bottom: unset;
    }
    .matsRight>div>img{
        transform: translateY(-5%);
    }
    /*  */
    /* #material{
        padding:60px 6.5% 0px 6.5%

    } */
} 
/* material RWD end */

/* NEWS */
#news{
    position: relative;
   

}
 #newsInner{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.newsTxt{
    position: relative;
    padding: 0 6.5% 0px 6.5%;


}
.newsTxt::before{
    content: "";
    position: absolute;
    top:70%;
    left: 6%;
    width: 300px;
    height: 30px;
    border-radius: 30px;
    background-color: #ffe6b7;
    z-index: -1;

}

.newsTxt > span{
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 7rem;
    color: #697a95;
}
.newsTxt > span:nth-child(2){
    position: absolute;
    right: 0;
    bottom: 0;
    
}

.newsTxt > span:nth-child(3){
    position: absolute;
    right: .5%;
    bottom: 9%;
    
}
.newsTxt > span:nth-child(4){
    position: absolute;
    right: 10%;
    bottom: 0;
    
}
.newsTxt > span:nth-child(5){
    position: absolute;
    right: 8%;
    bottom: 9%;
    
}
/*  */
.arrowLeft{
    border: solid #697a95;
    border-width: 0 10px 10px 0;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    transform: rotate(-45deg);
    }
.arrowLine{
    position: absolute;
    background-color: #697a95;
    width: 50px;
    height: 10px;
    border-radius: 5px;
    }
.arrowRight{
    border: solid #697a95;
    border-width: 0 10px 10px 0;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    transform: rotate(135deg);
}
/*  */
.newsMore{
    width: 200px;
    margin:0px auto;
    margin-top: 200px;
    padding-bottom: 3rem;
    text-align: center;

}
.newsBtn {
    display: block;
    border-radius: 30px;
    width: 100%;
    text-align: center;
    line-height: 54px;
    height: 60px;
    border: 2px solid #000;
    font-size: 1.5rem;
    letter-spacing: .8px;
    position: relative;
    transition: .3s;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.newsBtn:hover{
    background-color: #adb5bd;
}

/* swiper news */
.swiper {
    width: 100%;
    height:90vh;
    margin: 0 auto;
    padding: 160px 6.5% 0px 6.5% ;
    margin-bottom: 5rem;
    padding-bottom: 3rem;

  
  }
  .swiper::before{
    content: "";
    position: absolute;
    bottom:0;
    left : 0;
    width: 100%;
    height: 50%;
    background-color: #c3d5e769;
}
  .swiper-slide {
    text-align: center;
    font-size: 16px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    /* -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center; */
    justify-content: center;
    /* -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center; */
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    width: 20%;
    height: 400px !important;
   

  }
  
  
  .swiper-wrapper{
    display: flex;
  }
.nThumbnail:hover:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background-color: rgba(26, 25, 25, 0.445);
    z-index: 3;
    cursor: pointer;
}
  .nThumbnail{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:70% ;
    margin-bottom: 20px;
    



    
  }
  .swiper-slide>i{
    position: absolute;
    display: block;
    top:0;
    left:0;
    width:100px;
    height: 100px;
    z-index: 7;
}

  .nThumbnail>img {
  
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
  
  }
  .ntxtName{
    position: absolute;
    top:72%;
    left:0px;
    text-align: left;
  }
  .ntxt{
    position: absolute;
    top:78%;
    left:0;
    font-weight: bold;
    text-align: left;
    line-height: 25px;
  
  }
  .NBot{
    width: 100%;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    
    left:0;
    bottom:0;
  }
  .nSmall{
    width:180px;
    text-align: right;
    font-size: .8rem;
    color: rgb(59, 59, 59);
    letter-spacing: .2px;
    font-weight: bold;
    
  
  
  }
  .nBot>a{
    width:100px;
    font-size: .9rem;
    color: rgb(59, 59, 59);
    letter-spacing: .2px;
    text-align: left;
    font-weight: bold;
    text-decoration:underline ;
  }
  .nHr{
    background-color: rgb(185, 185, 185);
    height: .5px;
    width: 100%;
    bottom:5%;
    left:0;
    position: absolute;
    
  }

  
@media only screen and (max-width: 768px){
    
    .newsTxt > span{
        font-size: 5rem;
    }
} 
@media only screen and (max-width: 450px){
    
    .newsTxt > span{
        font-size:2rem;
    }
    .newsTxt::before {
        width: 100px;
        height: 10px;
    }
} 
/* Product  START*/
#product{
    padding: 160px 6.5% 0px 6.5% ;
    padding-bottom:7rem;
    /* position: relative; */

}

.productInner{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    padding-bottom: 7rem;


}
.productTxt{
    position: relative;
    margin-bottom: 7rem;
    text-align: center;

}
.productTxt ::before{
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 5%;
    left: 25%;
    width: 50%;
    height: 30px;
    border-radius: 30px;
    background-color: #ffe6b7;
    z-index: -1;

}
.productTxt > span{
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 7rem;
    color: #697a95;
}
/* .p-img-c */
.productImgC{
     width: 100%;
     /* height: 90vh; */
    max-width: 1200px;
    margin:0 auto;
    display: grid;
    background-size: cover;
    background-attachment: fixed;
    background-image: url(../img/登入之前.png);
    grid-template-columns:  [first] 30%  [line2]20%  [line3]20%  [line4]30% [end];
    grid-template-rows:  [row1-start]30%[row1-end]  40%[third-line]  30% [last-line];

    
}
.item>a{
    cursor: pointer;
}
.item>a>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.item:nth-child(1){
    grid-column: 1 / 2;
    grid-row: 1 / 2;  
    color: #f8f9fa;
    text-shadow: -1px -1px #ffe6b7, 1px 1px #333;
    font-family: 'Fira Sans', sans-serif;
    font-size: 4rem;
    line-height: 3rem;
    position: relative;
    padding: 1rem;
    font-weight: 800;



}
.item:nth-child(1)::before{
    content: "";
    position: absolute;
    top:10%;
    left:0;
    width: 80%;
    height: 30px;
    /* background-color: #fff; */



}
.item:nth-child(2){
    /* background-color: #9cb3ca;
    background-image: url(../img/we03.jpg);
    background-size: cover; */
    grid-column: 2 / 3;
    grid-row: 1 / 2; 

}
.item:nth-child(3){
    grid-column: 3 / 4;
    grid-row: 1 / 2; 

}
.item:nth-child(4){
    grid-column: 4 / 5;
    grid-row: 1 / 3;  

}
/*  */
.item:nth-child(5){
    grid-column: 1 / 2;
    grid-row: 2 / 4; 
   

}
.item>a>div{
    width: 100%;
    height: 100%;
}
.item>a>div>img{
    width: 100%;
    height: 100%;
    position: relative;
    /* object-fit: cover; */
}
.item>a>div>img:hover{
    filter: grayscale(1);
    /* object-fit: cover; */
}
/*  */
.item:nth-child(6){
    
    grid-column: 2 / 3;
    grid-row: 2 / 4;  
    color: #f8f9fa;
    text-shadow: -1px -1px #ffe6b7, 1px 1px #333;
    font-family: 'Fira Sans', sans-serif;
    font-size: 4rem;
    line-height: 3rem;
    position: relative;
    padding: 1rem;
    font-weight: 800;


}
.item:nth-child(7){
    background-color: #bfd3e7;
    background-size: cover;
    grid-column: 2/ 3;
    grid-row: 3 / 4;  

}
.item:nth-child(8){
    grid-column: 3 / 4;
    grid-row: 3 / 4;  

}
.item:nth-child(9){
    /* padding-top:10%; */
    width: 100%;
    grid-column: 4 / 5;
    grid-row: 3 / 4;  


}
/*  */
@media only screen and (max-width: 1024px){
    .productImgC{
        padding: 1rem;
        max-height: 678px;
       grid-template-columns:  [first] 30%  [line2]40%  [line4]30% [end];
       grid-template-rows:  [row1-start]30%[row1-end]  40%[third-line]  30% [last-line];
   }
   .item>a>div>img{
    object-fit: contain;
}
   .item:nth-child(1){
    grid-column: 1 / 2;
    grid-row: 1 / 2; 

}
    .item:nth-child(2){
        display: none;
        grid-column: unset;
        grid-row: unset; 

    }
    .item:nth-child(3){
        grid-column: 2 / 3;
        grid-row: 1 / 2; 

    }
    .item:nth-child(4){
        grid-column: 3 / 4;
        grid-row: 1 / 3; 

    }
    .item:nth-child(5){
        grid-column:1 / 2;
        grid-row: 2 / 4; 

    }
    .item:nth-child(6){
        grid-column: 2 / 3;
        grid-row: 2 / 3; 

    }
    .item:nth-child(7){
       display: none;

    }
    .item:nth-child(8){
        grid-column: 2/ 3;
        grid-row: 3 / 4; 
 
     }
     .item:nth-child(9){
        grid-column: 3/ 4;
        grid-row: 3 / 4;  
 
     }
}
@media only screen and (max-width: 768px){
    
    .productTxt > span{
        font-size: 5rem;
    }
    .productImgC{
        grid-template-columns:  [first] 30%  [line2]40%  [line4]30% [end];
 
        grid-template-rows:  [row1-start]30%[row1-end]  40%[third-line]  30% [last-line];
    }
     
    .item:nth-child(1){
     grid-column: 1 / 2;
     grid-row: 1 / 2; 
 
 }
     .item:nth-child(2){
         display: none;
         grid-column: unset;
         grid-row: unset; 
 
     }
     .item:nth-child(3){
         grid-column: 2 / 3;
         grid-row: 1 / 2; 
 
     }
     .item:nth-child(4){
         grid-column: 3 / 4;
         grid-row: 1 / 3; 
 
     }
     .item:nth-child(5){
         grid-column:1 / 2;
         grid-row: 2 / 4; 
 
     }
     .item:nth-child(6){
         grid-column: 2 / 3;
         grid-row: 2 / 3; 
 
     }
     .item:nth-child(7){
        display: none;
 
     }
     .item:nth-child(8){
         grid-column: 2/ 3;
         grid-row: 3 / 4; 
  
      }
      .item:nth-child(9){
         grid-column: 3/ 4;
         grid-row: 3 / 4;  
  
      }
} 

@media only screen and (max-width: 768px){
    
    .productTxt > span{
        font-size: 5rem;
    }
    .productImgC{
        grid-template-columns:  [first] 30%  [line2]40%  [line4]30% [end];
 
        grid-template-rows:  [row1-start]30%[row1-end]  40%[third-line]  30% [last-line];
    }
     
    .item:nth-child(1){
     grid-column: 1 / 2;
     grid-row: 1 / 2; 
 
 }
     .item:nth-child(2){
         display: none;
         grid-column: unset;
         grid-row: unset; 
 
     }
     .item:nth-child(3){
         grid-column: 2 / 3;
         grid-row: 1 / 2; 
 
     }
     .item:nth-child(4){
         grid-column: 3 / 4;
         grid-row: 1 / 3; 
 
     }
     .item:nth-child(5){
         grid-column:1 / 2;
         grid-row: 2 / 4; 
 
     }
     .item:nth-child(6){
         grid-column: 2 / 3;
         grid-row: 2 / 3; 
 
     }
     .item:nth-child(7){
        display: none;
 
     }
     .item:nth-child(8){
         grid-column: 2/ 3;
         grid-row: 3 / 4; 
  
      }
      .item:nth-child(9){
         grid-column: 3/ 4;
         grid-row: 3 / 4;  
  
      }
} 
@media only screen and (max-width: 450px){
    
    .productTxt > span{
        font-size: 2rem;
    }
    #product{
        padding-top:0 ;
    }
    .productTxt ::before{
        height: 10px;
    }
    .productTxt{
        margin-bottom: unset;
    }
    /*  */
    .productImgC{
        display: block;
        max-height:unset;
    }
     
    .item:nth-child(1){
     grid-column: 1 / 2;
     grid-row: 1 / 2; 
 
 }
     .item:nth-child(2){
         display: none;
 
     }
     .item:nth-child(3){
         display: none;
 
     }
     .item:nth-child(4){
         grid-column: 3 / 4;
         grid-row: 1 / 3; 
 
     }
     .item:nth-child(5){
         grid-column:1 / 2;
         grid-row: 2 / 4; 
 
     }
     .item:nth-child(6){
         grid-column: 2 / 3;
         grid-row: 2 / 3; 
 
     }
     .item:nth-child(7){
        display: none;
 
     }
     .item:nth-child(8){
        /* display: none; */

  
      }
      .item:nth-child(9){
         grid-column: 3/ 4;
         grid-row: 3 / 4;  
  
      }
}
/*  */
.btnMore>span::before{
    content: '';
    background-image: url(//cdn.shopify.com/s/files/1/0284/7109/9437/files/icon_arrow1_black_2x_4fb76695-d37f-491b-b2f0-05f6c176b6ce.png?v=1580873581);
    background-size: 6px 10px;
    width: 6px;
    height: 10px;
    position: absolute;
    bottom: -9px;
    right: -50px;
    z-index: 3;
}
.btnMore>span::after{
    content: "";
    display: block;
    position: absolute;
    bottom: -5px;
    left:0;
    width: 155px;
    height: 2px;
    margin-top: -1px;
    border-radius: 10px;
    background: linear-gradient(to right, #4C5664 0%, #466460 50%, #A27750 100%);
    z-index: 2;

}
.btn{
    width: 60px;
    height: 60px;
    padding: 15px 0 15px 40px;
    color: #000;
    border: 2px solid #95a9c9;
    line-height: 1;
    border-radius: 50%;
    text-align: left;
    margin-right: 3rem;
    margin-top: 50px;
    margin-bottom: 1rem;
    cursor: pointer;
}
.btn:hover{
    border-right: 2px solid #F8F9FA;
	border-bottom: 2px solid #F8F9FA;
    animation: loading 1.5s infinite linear;
    background-color: #fff;
}
.btnCenter{
    position: absolute;
    left: 40%;
    bottom: 0;
}
@keyframes loading {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
.btnMore>div{
    position: absolute;
    top:10%;
   right: 0%;
    
    
}
.item:nth-child(9)::before{
    content: "";
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 250, 250, 0.548);
        
    
}
.btnMore{
    position: relative;
    width: 300px;
    cursor: pointer;
}

.btnMore>span{
    position: absolute;
    font-size: 1.2rem;
    top:60px;
    left: 65px;
}
.btnContainer{
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-top: 2rem;
}
  

/* sns */
#sns{
    padding: 30px 1% 0px 1% ;
    margin-bottom: 10rem;
}
.snsTxt{
    position: relative;
    margin-bottom: 3rem;
    text-align: center;

}
.snsTxt::before{
    content: "";
    position: absolute;
    top:70%;
    left:0;
    width: 430px;
    height: 30px;
    border-radius: 30px;
    background-color: #ffe6b7;
    z-index: -1;

}
.snsTxt > span{
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 7rem;
    color: #697a95;
}
.snsInner{
    width: 100%;
    /* height: 80vh; */
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   

}
.snsInner>span{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2rem;

}
.snsContianer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3rem;
   
}
.snsCard>div{
   width: 100%;
   height: 300px;


}
.snsCard>div>img{
   object-fit: cover;
   height:100%;
   clip-path: circle(24.3% at 50% 50%);
}
.snsCard{
    padding: 5px;
    width: 33%;
    position: relative;
    text-align:center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.snsCard>h1{
    font-size: 2rem;
    padding: 1rem;
    line-height: 2px;
    letter-spacing: .5px;
}
.snsCard>p{
    font-size: 1rem;
    padding: 1.5rem;
    line-height: 2rem;
    letter-spacing: 2px;
    text-align: left;
}
.snsCard>h3{
    padding-top: 3rem;
    position: relative;
    margin-bottom: 1rem;
    text-align:center;
}
.snsCard>h3::before{
   content: "";
   position: absolute;
   bottom: 5%;
   transform: translateX(-55px);
   border-radius: 30px;
   width: 40px;
   height: 8px;
   text-align: center;
   background-color: #ffe6b7;
}
.snsMore{
    width: 200px;
    margin: 3rem auto;
    margin-bottom: 3rem;
    text-align: center;
}
.snsBtn {
    display: block;
    border-radius: 30px;
    width: 100%;
    text-align: center;
    line-height: 54px;
    height: 60px;
    border: 2px solid #000;
    font-size: 1.5rem;
    letter-spacing: .8px;
    position: relative;
    transition: .3s;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.snsBtn:hover{
    background-color: #adb5bd;
}
@media only screen and (max-width: 1024px){
    .snsCard {
        width: 100%;
    }
    .snsContianer {
        display: block;
        width: 100%;
    }
    
    
} 

@media only screen and (max-width: 768px){
    .snsTxt > span {
        font-size: 5rem;
    }
    .snsTxt::before {
        width: 330px;
        height: 30px;
    }
    
} 
@media only screen and (max-width: 768px){
    .snsTxt::before {
        width: 140px;
        height: 10px;
    }
    .snsTxt > span{
        font-size: 2rem;
    }
    
} 