/* header */
header{
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: aqua;
    font-size: 36px;
    font-weight: 900;
}

/* main */
main{
    width: 100%;
    padding: 0 0 50px 0;
    background-color: #e8e8e8;
}
.newsTitle, .newsPic, section, .newsSocial, .newsPageItem{
    max-width: 1200px;
    margin: auto;
    padding: 30px 100px;
}
h1{line-height: 3rem;}
h2, p{line-height: 2rem;}
.newsTitle{
    position: relative;
}
.newsTitle h1{
    padding: 30px 0;
    font-size: 2rem;
    font-weight: 900;
}
.newsPic{
    width: 100%;
    padding: 50px 0;
    text-align: center;
}
.newsPic img{
    width: 70%;
    filter: grayscale(80%);
}
.newsDesc > p:nth-child(1){
    padding-bottom: 30px;
    font-size: 1.2rem;
    line-height: 2.5rem;
}
.newsDescAuthor{
    color: #777;
}
.newsShare{
    padding: 30px 100px 80px 100px;
    display: flex;
    align-items: center;
}
.newsShare p{
    padding: 0 50px 0 0;
    font-size: 1.3rem;
    font-weight: 500;
}
.newsShare a{
    text-decoration: none;
}
.newsShare i{
    width: 30px;
    height: 30px;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #9f9f9f;
    border-radius: 50%;
}
.newsAuthor::before{
    content: '';
    width: 85%;
    height: 1px;
    display: block;
    background-color: #777;
    position: absolute;
    top: 0;
}
.newsAuthor{
    display: flex;
    position: relative;
}
.newsAuthorPic{
    width: 40%;
    padding: 10px 20px 10px 0;
}
.newsAuthorPic img{
    width: 100%;
    border-radius: 50%;
}
.newsAuthorItem{
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.newsAuthorItem p:nth-child(2){
    padding: 5px 0;
    font-size: .9rem;
}
.newsArticleItem{
    padding: 40px 0;
}
.newsArticleItem h2{
    padding: 0 0 50px 0;
    font-size: 1.5rem;
}
.newsArticleItem p{
    padding: 0 0 50px 0;
}
.newsArticleItem figure{
    width: 100%;
}
.newsArticleItem img{
    width: 100%;
}
.newsArticleItem > figure:nth-child(4){
    padding: 70px 0 0 0;
}
.newsArticleItem figcaption{
    padding: 15px 0;
    font-size: .8rem;
    color: #777;
}
section:nth-child(6){
    padding: 30px 100px 100px 100px;
}


/* news social */
.newsSocial::before{
    content: 'Share';
    display: block;
    position: absolute;
    top: -10px;
    left: 100px;
    font-size: 1.3rem;
    font-weight: 500;
}
.newsSocial{
    display: flex;
    justify-content: space-evenly;
    position: relative;
}
.newsSocialItem{
    width: 100%;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d0d0d0;
}
.newsSocialItem a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}
.newsSocial i{
    width: 30px;
    height: 30px;
    margin: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #9f9f9f;
    border-radius: 50%;
}
.newsSocialItem p{
    color: black;
}

/* news page */
.newsPage{
    width: 100%;
    background-color: #d0d0d0;
}
.newsPageItem{
    padding: 50px 100px;
    margin:  auto;
    display: flex;
}
.newsPage a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}
.newsPage a:nth-child(2){
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.newsPage a:nth-child(2)::after{
    content: '';
    width: 100%;
    height: 2px;
    display: block;
    background-color: black;
    position: absolute;
}

/* footer */
footer{
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: cadetblue;
    font-size: 36px;
    font-weight: 900;
}


@media screen and (max-width:992px) {
    .newsAuthor{
        flex-direction: column;
        align-items: center;
    }
    .newsAuthorPic{
        width: 100%;
        padding: 10px 0 50px 0;
        text-align: center;
    }
    .newsAuthorPic img{
        width: 150px;
    }
}

@media screen and (max-width:600px) {
    .newsSocialItem{
        width: 100%;
        padding:15px 0;
        display: flex;
        justify-content: center;
    }
    .newsSocial i{
        margin: 0 15px;
    }
    .newsSocialItem p{
        display: none;
    }
}