
/* main */
.memberMain{
    width: 100%;
    padding: 100px 0;
    /* background-color: rgb(180,207,235); */
    background-image: url('../img/登入之前.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.memberSection{
    max-width: 800px;
    padding: 0 20px;
    margin: 0 auto;
    /* border: 1px solid #ccc; */
    /* border-radius: 0 40px 0 0; */
    position: relative;
}
.membersCondition{
    display: flex;
    background-color: rgb(149, 169, 201);
    border-radius: 0 40px 0 0;
}
.membersCondition i{
    padding: 0 10px;
}
.memberConditionRegister,
.memberConditionLogin{
    width: 50%;
    padding: 20px 0;
    /* margin: 0 0 20px 0; */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
    background-color: rgb(149, 169, 201);
}
.memberConditionRegister{
    background-color: rgb(255, 230, 183);
    color:rgb(105, 122, 149) ;
    border-radius: 0 40px 0 0;
    position: absolute;
    top: 0;
    left: 20px;
    /* left: 0px; */
}
.memberConditionLogin{
    /* width: 100%; */
    /* border-bottom: 1px solid #ccc; */
    border-radius: 0 40px 0 0;
    /* opacity: .5; */
    margin-left: auto;
    color: white;
}
.membersRegister{
    width: 100%;
    /* padding: 20px 50px 10px 50px; */
    padding: 30px 100px;
    /* display: none; */
    background-color: rgb(180,207,235);
    /* border-left: 3px solid rgb(255, 230, 183);
    border-right: 3px solid rgb(255, 230, 183);
    border-bottom: 3px solid rgb(255, 230, 183); */
}
.membersRegisterInfo{
    width: 100%;
    position: relative;
}
.membersRegisterInfo::after{
    content: '';
    width: 100%;
    height: 4px;
    display: block;
    background-color: rgb(255, 230, 183);
    position: absolute;
    bottom: -20px;
    opacity: 0.7;
}
.membersRegisterInfo input{
    border: none;
}
.membersRegisterInfo p{
    line-height: 1.2rem;
    color: rgb(105, 122, 149);

}
.membersRegisterAgreement{
    padding: 40px 0 0 0;
    color: rgb(105, 122, 149);
}
.membersRegisterAgreement label{
    display: flex;
    cursor: pointer;
}
.agreeCheckbox{
    margin: 0 10px 0 0;
}
.membersLogin{
    width: 100%;
    padding: 30px 100px;
    display: none;
    background-color: rgb(180,207,235);
    /* border-left: 3px solid rgb(255, 230, 183);
    border-right: 3px solid rgb(255, 230, 183);
    border-bottom: 3px solid rgb(255, 230, 183); */
}
.membersLogin > p:last-child{
    width: 100%;
    padding: 10px 0;
    text-align: center;
}
.membersLogin a{
    text-decoration: none;
    color: rgb(105, 122, 149);
}
.membersRegisterTitle,
.membersLoginTitle{
    padding: 0 0 10px 0;
    text-align: center;
    color: rgb(105, 122, 149);
}
.membersRegisterInfo input,
.membersLogin input{
    width: 100%;
    padding: 10px 0 10px 10px;
    margin: 10px 0;
    font-size: 1.1rem;
    line-height: 2rem;
    border: none;
    /* border: 1px solid #ccc; */
    box-sizing: border-box;
    box-shadow: inset 1px 1px 3px 2px #969696;
}
.membersButton{
    text-align: center;
}
.membersButton i{
    padding: 0 10px;
}
.membersBtn{
    width: 50%;
    padding: 15px 0;
    margin: 20px 0 20px 0;
    font-size: 1.2rem;
    border-radius: 0 40px 0 40px;
    background-color:#ffe6b7;
    color:rgb(105, 122, 149);
    border: none;
    cursor: pointer;
}
.membersBtn:disabled{
    background-color:#ffe6b7;
    opacity: .6;
}

/* footer */
/* footer{
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: rgb(105, 122, 149);
    font-size: 36px;
    font-weight: 900;
    color: rgb(255, 230, 183);
} */

@media screen and (max-width:660px) {
    section{
        margin: 30px;
    }
}