* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #ffffff;
    --lightYellow: #ffe6b7;
    --lightBlue: #b4cfeb;
    --darkBlue: #697a95;
}

body {
    background-color: var(--lightBlue);
    line-height: 2.5rem;
    font-size: 14px;
    color: var(--darkBlue);
}

.dividingLine {
    width: 100%;
    border-bottom: 1px solid var(--white);
    margin: 20px 0;
}

/* ------------------------- heading section ------------------------- */
#headingSection {
    width: 90%;
    height: 15%;
    margin: 40px 40px 0;
    display: inline-flex;
    position: fixed;
    top: 0;
    left: 0;
}
#logo {
    width: 120px;
    filter: drop-shadow(3px 3px 2px var(--darkBlue));
}
#headingRightSec {
    margin-left: 10%;
}
#notification {
    color: var(--white);
    display: flex;
    align-items: center;
}
#notification i {
    width: 100px;
}
marquee {
    direction: left;
}
.searchInput {
    display: inline;
    border: 1px solid var(--white);
    border-radius: 50px;
    color: var(--white);
    padding: 8px 20px;
    margin: 0 8px;
}
.searchInput:hover {
    box-shadow: 1px 1px 10px 1px rgba(255, 255, 255, 0.2);
}
.searchInput select,
.searchInput input {
    background-color: var(--lightBlue);
    border: none;
    outline: none;
    color: var(--darkBlue);
}
.searchBtn {
    padding: 8px 20px;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 0px 20px 0px 20px;
    color: var(--darkBlue);
    margin: 0 8px;
    position: relative;
}
.searchBtn:hover {
    filter: drop-shadow(1px 1px 3px var(--darkBlue));
}
.searchBtn:nth-of-type(1) {
    background-color: var(--white);
}
.searchBtn:nth-of-type(2) {
    background-color: var(--darkBlue);
    color: var(--white);
}
.searchBtn:nth-of-type(3) {
    background-color: var(--lightYellow);
}
@media only screen and (min-width: 1300px) {
    .searchBtn:nth-of-type(3) {
        position: fixed;
        right: 10%;
    }
}

/* ------------------------- sidebar section ------------------------- */
#sidebar {
    width: 200px;
    height: calc(100vh - 200px);
    position: fixed;
    left: 0;
    bottom: 0;
    border-radius: 0 50px 0 0;
    background-color: var(--darkBlue);
    color: var(--white);
    padding-top: 60px;
}
#sidebar li {
    list-style-type: none;
    margin-top: 30px;
}
#sidebar li:last-child {
    margin-top: 200px;
}
#sidebar button {
    width: 70%;
    background-color: var(--darkBlue);
    border: none;
    border-left: 8px solid var(--darkBlue);
    color: var(--lightBlue);
    font-size: 16px;
    padding: 15px 0;
    vertical-align: middle;
}
#sidebar button:hover {
    color: var(--lightYellow);
    border-left: 6px solid var(--lightYellow);
}
/* ------------------------- content section ------------------------- */
#contentSection {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 85%;
    width: calc(100vw - 200px);
    padding: 0 5%;
}
@media only screen and (max-width: 1230px) {
    #contentSection {
        height: 80%;
    }
}
