* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #ffffff;
    --lightYellow: #ffe6b7;
    --lightBlue: #b4cfeb;
    --darkBlue: #697a95;
    --fontBlue: #546279;
    overflow: overlay;
}

body {
    background-color: var(--lightBlue);
    color: var(--fontBlue);
    line-height: 2.5rem;
    font-size: 16px;
    position: relative;
}
button,
select {
    cursor: pointer;
}

/* ------------------------- left section ------------------------- */
#main {
    width: 18vw;
    max-width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}
#logo {
    height: 20%;
    padding: 30px;
    margin-bottom: 10px;
    filter: drop-shadow(3px 3px 2px var(--darkBlue));
}
#logo img {
    width: 80%;
    min-width: 100px;
}
#sidebar {
    width: 100%;
    height: 100%;
    border-radius: 0 50px 0 0;
    background-color: var(--darkBlue);
    color: var(--white);
    padding-top: 60px;
    margin-top: 3%;
}
#sidebar li {
    list-style-type: none;
    margin-bottom: 30px;
}
#sidebar li:last-child {
    margin-top: 60%;
}
#sidebar button {
    width: 70%;
    background-color: var(--darkBlue);
    border: none;
    border-left: 6px solid var(--darkBlue);
    color: var(--lightBlue);
    font-size: 20px;
    padding: 15px 0;
    vertical-align: middle;
}
#sidebar button:hover {
    color: var(--lightYellow);
    border-left: 6px solid var(--lightYellow);
}

/* ------------------------- right section ------------------------- */

/*  heading section  */
#container {
    width: calc(100vw - 250px);
    min-width: 82vw;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0 auto;
}
#headingSec {
    width: calc(100vw - 250px);
    min-width: 82vw;
    position: fixed;
    top: 0;
    background-color: var(--lightBlue);
    padding: 0 5%;
    z-index: 2;
}
#notification {
    color: var(--white);
    display: flex;
    align-items: center;
    margin: 3% 0;
}
#notification i {
    width: 130px;
}
marquee {
    direction: left;
}

.dividingLine {
    width: 100%;
    border-bottom: 2px solid var(--white);
}
/*  content section  */
#contentSec {
    position: relative;
    top: 200px; /* 組長 這邊要依據heading高度調整 */
}
#contentData {
    width: 90%;
    margin: 0 auto;
    border: none;
    border-collapse: collapse;
    text-align: center;
}

.showContent {
    /*使用js插入*/
    height: auto;
    grid-column: 1/-1;
    justify-content: space-evenly;
    text-align: left;
}
.hideRow {
    /*使用js插入*/
    display: none;
}
.divider {
    /*使用js插入、表格裡面的分隔島*/
    display: inline;
    border-right: 2px solid var(--darkBlue);
    height: 30px;
    vertical-align: middle;
    position: absolute;
    right: 0;
    bottom: 12px;
}
