/* ------------------------- right section ------------------------- */

/*  heading section  */
.searchInput {
    display: inline;
    border: 1px solid var(--white);
    border-radius: 50px;
    color: var(--white);
    padding: 8px 20px;
    margin: 0 8px;
}
.searchInput:hover {
    box-shadow: 1px 1px 10px 1px rgba(255, 255, 255, 0.2);
}
.searchInput select,
.searchInput input {
    background-color: var(--lightBlue);
    border: none;
    outline: none;
    color: var(--fontBlue);
}
#searchBtn,
#clearBtn,
#updateBtn {
    padding: 8px 20px;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 0px 20px 0px 20px;
    color: var(--fontBlue);
    margin: 0 8px 20px;
    /* position: relative; */
}
#searchBtn:hover,
#clearBtn:hover,
#updateBtn:hover {
    filter: drop-shadow(1px 1px 3px var(--darkBlue));
}
#searchBtn {
    background-color: var(--white);
}
#clearBtn {
    background-color: var(--darkBlue);
    color: var(--white);
}
#updateBtn {
    background-color: var(--lightYellow);
}

