*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.teaserAnimation{
    width: 100%;
    height: 100vh;
    background-image: url(../img/前導動畫背景圖.jpg);
    background-repeat: no-repeat;
    position: fixed;
    background-size: 100%;
    z-index:10005;
  }

.eleContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.eleImg{
    position: absolute;
    z-index:2;
    padding-top: 55%;
    padding-left: 9.5%;
    animation: imgFadeIn ease 3s;
}

@keyframes imgFadeIn {
    0%{opacity:0;}
    25%{opacity:0.25;}
    75%{opacity:0.75;}
    100%{opacity: 1;}
}

.eleImg img{
    width: 564px;
    height: 453px;
}

.eleCircle{
    position: absolute;
    z-index:1;
    padding-top: 50%;
}

.eleText{
    position: absolute;
    z-index:3;
    padding-top: 55%;
}

.marianText{
    padding-bottom: 10px;
}
.sloganText{
    padding-left:27px;
}



#ecOne{
    stroke-dasharray:1565px;
    stroke-dashoffset: 1565px;
    animation: fadeInside 1s ease-in forwards 0.9s;
  }

#mtOne{
    stroke-dasharray:643px;
    stroke-dashoffset: 643px;
    animation: fadeInside 0.6s ease-in forwards 1.2s;
}
#mtTwo{
    stroke-dasharray:374px;
    stroke-dashoffset:374px;
    animation: fadeInside 0.6s ease-in forwards 1.5s;
}
#mtThree{
    stroke-dasharray:209px;
    stroke-dashoffset: 209px;
    animation: fadeInside 0.6s ease-in forwards 1.8s;
}
#mtFour{
    stroke-dasharray:225px;
    stroke-dashoffset: 225px;
    animation: fadeInside 0.6s ease-in forwards 2.1s;
}
#mtFive{
    stroke-dasharray:374px;
    stroke-dashoffset: 374px;
    animation: fadeInside 0.6s ease-in forwards 2.4s;
}
#mtSix{
    stroke-dasharray:346px;
    stroke-dashoffset: 346px;
    animation: fadeInside 0.6s ease-in forwards 2.7s;
}
#stOne{
    stroke-dasharray:108px;
    stroke-dashoffset: 108px;
    animation: fadeInside 0.6s ease-in forwards 1.4s;
}
#stTwo{
    stroke-dasharray:127px;
    stroke-dashoffset: 127px;
    animation: fadeInside 0.6s ease-in forwards 1.6s;
}
#stThree{
    stroke-dasharray:132px;
    stroke-dashoffset: 132px;
    animation: fadeInside 0.6s ease-in forwards 1.8s;
}
#stFour{
    stroke-dasharray:132px;
    stroke-dashoffset: 132px;
    animation: fadeInside 0.6s ease-in forwards 2.0s;
}
#stFive{
    stroke-dasharray:88px;
    stroke-dashoffset: 88px;
    animation: fadeInside 0.6s ease-in forwards 2.2s;
}
#stSix{
    stroke-dasharray:132px;
    stroke-dashoffset: 132px;
    animation: fadeInside 0.6s ease-in forwards 2.4s;
}
#stSeven{
    stroke-dasharray:190px;
    stroke-dashoffset: 190px;
    animation: fadeInside 0.6s ease-in forwards 2.6s;
}
#stEight{
    stroke-dasharray:116px;
    stroke-dashoffset: 116px;
    animation: fadeInside 0.6s ease-in forwards 2.8s;
}
#stNine{
    stroke-dasharray:78px;
    stroke-dashoffset: 78px;
    animation: fadeInside 0.6s ease-in forwards 3.0s;
}
#stTen{
    stroke-dasharray:127px;
    stroke-dashoffset: 127px;
    animation: fadeInside 0.6s ease-in forwards 3.2s;
}

.fillanimation{
    animation: fill 1s ease-in forwards 3.2s;
  }
  
  @keyframes fadeInside{
    to{
      stroke-dashoffset: 0px;
    }
  }
  
  @keyframes fill{
    from{
      fill: transparent;
    }
    to{
      fill:white
    }
  }