*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.faqsection{
    max-width: 100%;
    padding: 0px;
    /* cora */
    font-size:1.2rem;
    font-weight: 700;


}
.decorateContainer{
    width: 100%;
    position: relative;
    height: 163px;
}

.decorateBoxOne{
    width: 100%;
    height: 82px;
    background-color: rgb(149,169,201);
}

.decorateBoxTwo{
    width: 50%;
    height: 163px;
    background-color: rgb(105,122,149);
    position: absolute;
    top: 0;
    left:0;
    /* cora */
    margin-top: 5.1rem;

}

.contentBox{
    width: 100%;
    display: flex;
    height: auto;
    /* cora */
    font-size:1.1rem;
   font-weight: 700;
}

.contentBoxLeft{
    width: 40%;
}

.contentBoxRight{
   width: 60%;
   padding-top: 99px;
   margin-bottom: 20px;
}

.contentBoxTitle{ 
    word-spacing: 3px;
    font-size: 86px;
    padding-top: 99px;
    padding-left: 90px;
    position: relative;
    color: rgb(180,207,235);
    z-index: -2;
}
.faqRoundedRectangle{
    position: relative;
}

.faqRoundedRectangle::before{
    content: "";
    width: 28px;
    height: 200px;
    background-color: rgb(255,230,183);
    border-radius: 2em;
    position: absolute;
    top: 17px;
    left: -50px;
}

.contentBoxImg{
    padding-left: 40px;
    padding-bottom: 20px;
    width: 60%;
   margin-top: 30%;
}
.contentBoxImg img{
    max-height: 100%;
    max-width: 100%;
}

.faq{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

}
/* CORA */
.faqOne>p{
     /* cora */
     font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}
.faqTwo>p{
    /* cora */
    font-size: 1.5rem;


}
.faqThree>p{
    /* cora */
    font-size: 1.5rem;


}
.faqFour>p{
    /* cora */
    font-size: 1.5rem;


}
.faqFive>p{
    /* cora */
    font-size: 1.5rem;


}
/* CORA */

.collapsible {
    background: rgb(105,122,149);
    background: linear-gradient(90deg, rgba(105,122,149,1) 0%, rgba(176,202,230,1) 100%);
    color: white;
    border-radius: 2em;;
    cursor: pointer;
    padding: 18px;
    width: 75%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin-top: 2px;
    position: relative;
    /* cora */
    font-size:1.25rem;
    line-height: 1.5rem;
    letter-spacing: .8px;
  }
  
.fa-arrow-down{
    font-size: 25px;
    position: absolute;
    top: 20px;
    right: 25px;
}
  
  .content {
    padding: 9px 18px;
    display: none;
    overflow: hidden;
   color: rgb(105,122,149);
    width: 75%;
    line-height: 35px;

  }

  .content a{
      text-decoration: none;
      color: rgb(105,122,149);
  }

  .content a:hover{
    color:rgb(180,207,235);
}

.faqOne ,.faqTwo, .faqThree, .faqFour, .faqFive{
    margin: 10px 0;
}

.faqOne ,.faqTwo, .faqThree, .faqFour, .faqFive p{
    color: rgb(105,122,149);
    font-size:1.2rem;
    /* font-family: 'Fira Sans', sans-serif; */
    
   
}

.contactUs{
    margin-top: 5%;
}

.contactUs p{
    color: rgb(105,122,149);
    margin-bottom: 10px;
     /* cora */
     font-size:1.5rem;
     line-height: 2rem;
     
    font-family: 'Fira Sans', sans-serif;

}

.contactUsBtn{
    background: rgb(105,122,149);
    background: linear-gradient(90deg, rgba(105,122,149,1) 0%, rgba(176,202,230,1) 100%);
    border-radius: 2em;;
    cursor: pointer;
    padding: 10px;
    width: 100px;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    /* cora */
    font-size: 1.5rem;
    width: 200px;

}

.contactUsBtn a{
    text-decoration: none;
    color: white;
}

.contactUsBtn a:hover{
    color: rgb(255,230,183);
}

.animate-icon {
    transition: 0.4s;
  }
  .rotate {
    transform:rotate(180deg);
  }